<section class="themevale_section padding-bottom-50">
    <div class="container">
        {{#each categories}}
            {{#if id '==' ../category_id}}
                <div class="themevale_productsCategorySortTabs custom">
                    <h2 class="page-heading text-center"><a href="{{url}}">{{name}}</a></h2>
                    {{> components/themevale/homepage/component/ajax-products-by-category-sorting-tabs-5-content
                        image-1=../../theme_settings.themevale_category-id-width-banner-4-image-1
                        link-1=../../theme_settings.themevale_category-id-width-banner-4-link-1 
                        image-2=../../theme_settings.themevale_category-id-width-banner-4-image-2
                        link-2=../../theme_settings.themevale_category-id-width-banner-4-link-2 
                        image-3=../../theme_settings.themevale_category-id-width-banner-4-image-3
                        link-3=../../theme_settings.themevale_category-id-width-banner-4-link-3}}
                </div>
            {{else}}
                {{#each children}}
                    {{#if id '==' ../../../category_id}}
                        <div class="themevale_productsCategorySortTabs custom">
                            <h2 class="page-heading text-center"><a href="{{url}}">{{name}}</a></h2>
                            {{> components/themevale/homepage/component/ajax-products-by-category-sorting-tabs-5-content
                            image-1=../../../../theme_settings.themevale_category-id-width-banner-4-image-1
                            link-1=../../../../theme_settings.themevale_category-id-width-banner-4-link-1 
                            image-2=../../../../theme_settings.themevale_category-id-width-banner-4-image-2
                            link-2=../../../../theme_settings.themevale_category-id-width-banner-4-link-2 
                            image-3=../../../../theme_settings.themevale_category-id-width-banner-4-image-3
                            link-3=../../../../theme_settings.themevale_category-id-width-banner-4-link-3}}
                        </div>
                    {{else}}
                        {{#each children}}
                            {{#if id '==' ../../../../../category_id}}
                                <div class="themevale_productsCategorySortTabs custom">
                                    <h2 class="page-heading text-center"><a href="{{url}}">{{name}}</a></h2>
                                    {{> components/themevale/homepage/component/ajax-products-by-category-sorting-tabs-5-content
                                    image-1=../../../../../../theme_settings.themevale_category-id-width-banner-4-image-1
                                    link-1=../../../../../../theme_settings.themevale_category-id-width-banner-4-link-1 
                                    image-2=../../../../../../theme_settings.themevale_category-id-width-banner-4-image-2
                                    link-2=../../../../../../theme_settings.themevale_category-id-width-banner-4-link-2 
                                    image-3=../../../../../../theme_settings.themevale_category-id-width-banner-4-image-3
                                    link-3=../../../../../../theme_settings.themevale_category-id-width-banner-4-link-3}}
                                </div>
                            {{else}}
                                {{#each children}}
                                    {{#if id '==' ../../../../../../../category_id}}
                                        <div class="themevale_productsCategorySortTabs custom">
                                            <h2 class="page-heading text-center"><a href="{{url}}">{{name}}</a></h2>
                                            {{> components/themevale/homepage/component/ajax-products-by-category-sorting-tabs-5-content
                                            image-1=../../../../../../../../theme_settings.themevale_category-id-width-banner-4-image-1
                                            link-1=../../../../../../../../theme_settings.themevale_category-id-width-banner-4-link-1 
                                            image-2=../../../../../../../../theme_settings.themevale_category-id-width-banner-4-image-2
                                            link-2=../../../../../../../../theme_settings.themevale_category-id-width-banner-4-link-2 
                                            image-3=../../../../../../../../theme_settings.themevale_category-id-width-banner-4-image-3
                                            link-3=../../../../../../../../theme_settings.themevale_category-id-width-banner-4-link-3}}
                                        </div>
                                    {{/if}}
                                {{/each}}
                            {{/if}}
                        {{/each}}
                    {{/if}}
                {{/each}}
            {{/if}}
        {{/each}}
    </div>
</section>
{{{region name="below_products_by_category"}}}
