{{#if banner-marketing '==' 'brands-carousel-1'}}
<div class="themevale_section padding-top-30 padding-bottom-30 border-bottom"> 
    {{> components/themevale/homepage/component/banner-marketing-layout find="themevale_brands-carousel-1"}}
    {{{region name="below_brands_carousel"}}}
</div>
{{/if}}

{{#if banner-marketing '==' 'brands-grid-1'}}
<div class="themevale_section padding-top-50 padding-bottom-70"> 
    {{> components/themevale/homepage/component/banner-marketing-layout find="brands-grid-1"}}
    {{{region name="below_brands_grid"}}}
</div>
{{/if}}

{{#if banner-marketing '==' 'brands-grid-2'}}
<div class="themevale_section padding-top-0 padding-bottom-70"> 
    {{> components/themevale/homepage/component/banner-marketing-layout find="brands-grid-1"}}
    {{{region name="below_brands_grid"}}}
</div>
{{/if}}

{{#if banner-marketing '==' 'category-card-1'}}
<div class="themevale_section padding-top-50">
    {{> components/themevale/homepage/component/banner-marketing-layout find="themevale_category-card-1"}}
    {{{region name="below_category_card"}}}
</div>
{{/if}}

{{#if banner-marketing '==' 'category-card-2'}}
<div class="themevale_section padding-top-70 padding-bottom-70 background-gray">
    {{> components/themevale/homepage/component/banner-marketing-layout find="themevale_category-card-2"}}
    {{{region name="below_category_card"}}}
</div>
{{/if}}

{{#if banner-marketing '==' 'category-card-3'}}
<div class="themevale_section padding-top-70 padding-bottom-70 border-top">
    {{> components/themevale/homepage/component/banner-marketing-layout find="themevale_category-card-2"}}
    {{{region name="below_category_card"}}}
</div>
{{/if}}

{{#if banner-marketing '==' 'category-card-4'}}
<div class="themevale_section padding-top-70 padding-bottom-70 border-bottom"> 
    {{> components/themevale/homepage/component/banner-marketing-layout find="themevale_category-card-4"}}
    {{{region name="below_category_card"}}}
</div>
{{/if}}

{{#if banner-marketing '==' 'category-card-5'}}
<div class="themevale_section"> 
    {{> components/themevale/homepage/component/banner-marketing-layout find="themevale_category-card-2"}}
    {{{region name="below_category_card"}}}
</div>
{{/if}}

{{#if banner-marketing '==' 'category-card-6'}}
<div class="themevale_section padding-top-20 padding-bottom-0"> 
    {{> components/themevale/homepage/component/banner-marketing-layout find="themevale_category-card-4"}}
    {{{region name="below_category_card"}}}
</div>
{{/if}}

{{#if banner-marketing '==' 'category-carousel'}}
<div class="themevale_section padding-top-30 padding-bottom-30 border-bottom">
    {{> components/themevale/homepage/component/banner-marketing-layout find="themevale_category-carousel-1"}}
    {{{region name="below_category_carousel"}}}
</div>
{{/if}}

{{#if banner-marketing '==' 'category-carousel-2'}}
<div class="themevale_section padding-top-30 padding-bottom-30 background-gray">
    {{> components/themevale/homepage/component/banner-marketing-layout find="themevale_category-carousel-2"}}
    {{{region name="below_category_carousel"}}}
</div>
{{/if}}

{{#if banner-marketing '==' 'banner-marketing-1'}}
<div class="themevale_section padding-bottom-50"> 
    {{> components/themevale/homepage/component/banner-marketing-layout find="themevale_banner-marketing"}}
    {{{region name="below_banner_marketing"}}}
</div>
{{/if}}
