<!--<section class="themevale_section themevale_section-flash-sale custom padding-top-50 padding-bottom-50">
    <div class="container">
        <div class="items">
            {{> components/themevale/homepage/component/ajax-products-by-category-id-3 category_id=theme_settings.themevale_category-flash-sale-id}}
        </div>
        <div class="items">
            <div class="advertisement-image">
                <a class="image" href="#">
                    <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.themevale_banner-ads-3}}" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
{{{region name="below_flash_sale_category"}}}
-->
