<!--<section class="themevale_section padding-top-50 padding-bottom-50 background-gray">
    <div class="container">
        <div class="themevale_column themevale_column--col3 themevale_customColumn">
            <div class="item">
                <div class="service-wrapper layout-2">
                    <div class="icon">
                        <svg><use xlink:href="#{{theme_settings.themevale_customer-service-icon-1}}"></use></svg>
                    </div>
                    <div class="content">
                        <div class="title">{{theme_settings.themevale_customer-service-title-1}}</div>
                        <div class="text">{{theme_settings.themevale_customer-service-text-1}}</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="service-wrapper layout-2">
                    <div class="icon">
                        <svg><use xlink:href="#{{theme_settings.themevale_customer-service-icon-2}}"></use></svg>
                    </div>
                    <div class="content">
                        <div class="title">{{theme_settings.themevale_customer-service-title-2}}</div>
                        <div class="text">{{theme_settings.themevale_customer-service-text-2}}</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="service-wrapper layout-2">
                    <div class="icon">
                        <svg><use xlink:href="#{{theme_settings.themevale_customer-service-icon-3}}"></use></svg>
                    </div>
                    <div class="content">
                        <div class="title">{{theme_settings.themevale_customer-service-title-3}}</div>
                        <div class="text">{{theme_settings.themevale_customer-service-text-3}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{{region name="below_service"}}}
-->
