<article class="blog">
    <div class="blog-post-header">
        <div class="blog-header">
            <h2 class="blog-title">
                <a href="{{post.url}}">{{post.title}}</a>
            </h2>
            <p class="blog-date">{{#if post.author}}{{lang 'blog.posted_by' name=post.author}} on {{/if}}{{post.date_published}}</p>
        </div>
    </div>
    {{{region name="page_builder_content"}}}
    <div class="blog-post-body">
        <div class="blog-post">
            {{#if post.body}}
                {{{post.body}}}
            {{else}}
                {{{post.summary}}}
                {{#if post.show_read_more}}
                    &hellip; 
                    <br>
                    <a class="button" href="{{url}}">read more</a>
                {{/if}}
            {{/if}}
        </div>
        {{#if show_tags}}
            {{#if post.tags}}
                <ul class="tags">
                    {{#each post.tags}}
                    <li class="tag">
                        <a href="{{url}}">#{{name}}</a>
                    </li>
                    {{/each}}
                </ul>
            {{/if}}
        {{/if}}
    </div>
</article>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "@id": "{{canonical_url}}#article",
  "mainEntityOfPage": {"@type": "WebPage", "@id": "{{canonical_url}}"},
  "headline": "{{post.title}}",
  "image": ["{{post.thumbnail.data}}"],
  "datePublished": "{{post.date_published}}",
  "dateModified": "{{date_modified_iso}}",
  "author": {"@type": "Person", "name": "{{post.author}}", "url": "{{post.url}}"},
  "publisher": {"@type": "Organization", "name": "Fabspeed Motorsport", "logo": {"@type": "ImageObject", "url": "{{logo_url}}"}}
}
</script>