<div class="cookieMessage">
    <a href="#" class="close" data-close-cookieMessage><span aria-hidden="true">&#215;</span></a>
    <div class="cookieMessage-container">
        <div class="cookieMessage-text">
            <p>{{settings.privacy_cookie}}</p>
        </div>
        <div class="group-button">
            <a class="privacy_accept" href="javascript:void(0)" data-privacy-accept>{{lang 'cookies.accept'}}</a>
            <a class="privacy_policy" href="{{theme_settings.privacy_policy_url}}">{{theme_settings.privacy_policy}}</a>
        </div>
    </div>
</div>
