{{#if theme_settings.themevale_homepage_layout '!==' 'homepage layout 3'}}
<script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"17407767"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>
    <div class="themevale_service">
        <div class="container">
            <div class="themevale_column themevale_column--col4 themevale_customColumn">
                <div class="item">
                    <div class="service-wrapper">
                        <div class="icon">
                            <svg><use href="https://store-fh9wsjv2.mybigcommerce.com/content/tik-tok.svg"></use></svg>
                        </div>
                        <div class="title">{{theme_settings.themevale_customer-service-title-1}}</div>
                    </div>
                </div>
                <div class="item">
                    <div class="service-wrapper">
                        <div class="icon">
                            <svg><use xlink:href="#{{theme_settings.themevale_customer-service-icon-2}}"></use></svg>
                        </div>
                        <div class="title">{{theme_settings.themevale_customer-service-title-2}}</div>
                    </div>
                </div>
                <div class="item">
                    <div class="service-wrapper">
                        <div class="icon">
                            <svg><use xlink:href="#{{theme_settings.themevale_customer-service-icon-3}}"></use></svg>
                        </div>
                        <div class="title">{{theme_settings.themevale_customer-service-title-3}}</div>
                    </div>
                </div>
                <div class="item">
                    <div class="service-wrapper">
                        <div class="icon">
                            <svg><use xlink:href="#{{theme_settings.themevale_customer-service-icon-4}}"></use></svg>
                        </div>
                        <div class="title">{{theme_settings.themevale_customer-service-title-4}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}
<footer class="footer">
    <div class="container">
        <div class="themevale_topFooter">
            <h4 class="text">{{theme_settings.footer-top-content}}</h4>
            <a class="phone" href="tel:{{theme_settings.footer-top-button}}">{{theme_settings.footer-top-button}}</a>
        </div>
        <div class="themevale_middleFooter">
            <div class="footer-info themevale_footer-info col-5">
                <div class="footer-info-col" data-section-type="newsletterSubscription">
                    <div class="item newsletter-signup-form">
                        {{#if settings.show_newsletter_box}}
                            {{> components/common/subscription-form}}
                        {{/if}}
                    </div>
                    <div class="item">
                        {{> components/common/social-links}}
                    </div>
                </div>
                <div class="footer-info-col footer-info-col--small footer-dropdownmobile" data-section-type="footer-categories">
                    <h5 class="footer-info-heading">
                        <span>{{lang 'footer.shop'}}</span>
                        <svg class="icon-dropdown"><use xlink:href="#icon-chevron-down"></use></svg>
                    </h5>
                    <ul class="footer-info-list">
                        <li>
                            <a href="https://www.fabspeed.com/porsche/">Porsche</a>
                        </li>
                        <li>
                            <a href="https://www.fabspeed.com/ferrari/">Ferrari</a>
                        </li>
                        <li>
                            <a href="https://www.fabspeed.com/lamborghini/">Lamborghini</a>
                        </li>
                        <li>
                            <a href="https://www.fabspeed.com/mclaren/">McLaren</a>
                        </li>
                        <li>
                            <a href="https://www.fabspeed.com/bmw/">BMW</a>
                        </li>
                        <li>
                            <a href="https://www.fabspeed.com/c8-corvette/">C8 Corvette</a>
                        </li>
                        <li>
                            <a href="https://www.fabspeed.com/other-makes-models/">Other Makes &amp; Models</a>
                        </li>
                        <li>
                            <a href="https://www.fabspeed.com/additional-products/">Additional Products</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-info-col footer-info-col--small footer-dropdownmobile" data-section-type="footer-webPages">
                    <h5 class="footer-info-heading">
                        <span>Information</span>
                        <svg class="icon-dropdown"><use xlink:href="#icon-chevron-down"></use></svg>
                    </h5>
                    <ul class="footer-info-list">
                        <li>
                            <a href="https://www.fabspeed.com/who-we-are/">About Us</a>
                        </li>
                        <li>
                            <a href="https://www.fabspeed.com/authorized-dealers/">Authorized Dealers</a>
                        </li>
                        <li>
                            <a href="https://www.fabspeed.com/blog/">Blogs</a>
                        </li>
                        <li>
                            <a href="https://www.fabspeed.com/careers-employment/">Careers</a>
                        </li>
                        <li>
                            <a href="https://www.fabspeed.com/videos/">Client Videos</a>
                        </li>
                        <li>
                            <a href="https://www.fabspeed.com/contactus/">Contact Us</a>
                        </li>
                        <li>
                            <a href="https://www.fabspeed.com/pages/legal-notice/privacy-policy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="https://www.fabspeed.com/legal-notice/">Legal Notice</a>
                        </li>
                        <li>
                            <a href="https://www.fabspeed.com/reviews/">Reviews</a>
                        </li>
                        <li>
                            <a href="https://www.fabspeed.com/support/">Support</a>
                        </li>
                        <li>
                            <a href="https://www.fabspeed.com/warranty/">Terms &amp; Conditions</a>
                        </li>
                        <li>
                            <a href="https://www.fabspeed.com/dealer-resources/">Wholesale Information</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-info-col footer-info-col--small footer-dropdownmobile">
                    <h5 class="footer-info-heading">
                        <span>{{lang 'footer.contact'}}</span>
                        <svg class="icon-dropdown"><use xlink:href="#icon-chevron-down"></use></svg>
                    </h5>
                    <ul class="footer-info-list">
                        <li class="store-address wait-to-show"><svg class="icon"><use xlink:href="#icon-location-2"></use></svg>{{nl2br settings.address}}</li>
                        <li class="store-address aus-content"><svg class="icon"><use xlink:href="#icon-location-2"></use></svg>20-22 Commercial St, Marleston SA 5033, Australia</li>
                        <li class="store-email"><svg class="icon"><use xlink:href="#icon-envelope-2"></use></svg><a href="mailto:{{theme_settings.footer-middle-email}}">Email: {{theme_settings.footer-middle-email}}</a></li>
                        <li class="store-phone wait-to-show"><svg class="icon"><use xlink:href="#icon-telephone-2"></use></svg><a href="tel:215-646-4945">Call: 215-646-4945</a></li>
                        <li class="store-phone aus-content"><svg class="icon"><use xlink:href="#icon-telephone-2"></use></svg><a href="tel:0422 731 725">Call: 0422 731 725</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="themevale_bottomFooter">
        <div class="container">
            <div class="item">
                {{#if theme_settings.show_copyright_footer}}
                    <div class="footer-copyright">
                        <p class="powered-by">&copy; {{moment format="YYYY"}} {{settings.store_name}} &nbsp;|&nbsp; <a href="https://www.fabspeed.com/sitemap/">Sitemap</a></p>
                    </div>
                {{/if}}
                {{#if theme_settings.show_powered_by}}
                    <div class="footer-copyright">
                        <p class="powered-by">{{theme_settings.powered_by_content}}</p>
                    </div>
                {{/if}}
            </div>
            <div class="item">
                {{> components/common/payment-icons}}
            </div>
        </div>
    </div>
</footer>
{{#if theme_settings.themevale_BackTop}}
    <div id="back-to-top">
        <a href="javascript:void(0)"><svg class="icon"><use xlink:href="#icon-keyboard-arrow-down"></use></svg></a>
    </div>
{{/if}}



{{#if theme_settings.themevale_RecentlyBought}}
<div class="themevale_popup_left"></div>
{{/if}}

{{#if settings.privacy_cookie }}
    <div class="themevale_popup_right">
        {{> components/common/cookie }}
    </div>
{{/if}}
