{{#if theme_settings.themevale_header-layout-1}}
<div class="container navUser">
    <ul class="navUser-left navUser-section"> 
        {{#if currency_selector.currencies.length '>' 1}}
            <li class="navUser-item">
                {{> components/common/currency-selector}}
            </li>
        {{/if}}
    </ul>
    <ul class="navUser-right navUser-section">
        <li class="navUser-item">
            <a class="navUser-action" href="/track-order/">Track Your Order</a>
        </li>

        <li class="navUser-item">
            <a class="navUser-action" href="/videos">Videos</a>
        </li>
        
        <li class="navUser-item">
            <a class="navUser-action" href="/installation-guides/">Install Guides</a>
        </li>
        <li class="navUser-item navUser-item--account">
            {{#if customer}}
                <a href="{{urls.account.details}}"><i style="cursor: pointer;" class="icon" aria-hidden="true"><svg><use xlink:href="#icon-user" /></svg></i></a>
                <a class="navUser-action" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
            {{else}}
                <i style="cursor: pointer;" data-login-form class="icon" aria-hidden="true"><svg><use xlink:href="#icon-user" /></svg></i>
                <a class="navUser-action" href="javascript:void(0)" style="color: red; font-weight: bold;" data-login-form>{{lang 'common.login'}}</a>
                {{#if page_type '!==' 'login'}}
                    {{> components/themevale/header/login-form}}
                {{/if}}
            {{/if}}
        </li>
    </ul>
</div>
{{/if}}
