{{#partial "page"}}
<div class="themevale_breadcrumb"></div>
<section class="page">
    <div class="page-content subscribed_heading">
        <h1 class="page-heading no-border">
            Success! Welcome to the Fabspeed Family.
        </h1>
        <p>
            <img src="https://cdn11.bigcommerce.com/s-fh9wsjv2/images/stencil/original/image-manager/dsc0vweaf0625.jpg?t=1787079600" alt="">
        </p>
        <p class="thanks-for-signing-up-text">
            Every email is packed with product launches, performance testing, installation videos, engineering stories,
            and exclusive offers.
            In the meantime, explore our latest products and experience the difference precision engineering makes.
        </p>

        <a href="/" class="button button--primary">Explore More</a>
    </div>
</section>

{{/partial}}
{{> layout/base}}