// =============================================================================
// FOOTER (Settings)
// =============================================================================

$footer-textColor:                              stencilColor("footer-textColor");
$footer-textColorHover:                         stencilColor("footer-textColorHover");
$footer-background:                             stencilColor("footer-backgroundColor");
$footer-heading-color:                          stencilColor("footer-headingColor");
