// =============================================================================
// HEADER (CSS)
//
// 1. Setting font size of header-logo to 0, since wrapper element may vary, and
//    inline-block whitespace messes with header height. Font-size is reset to
//    appropriate size on header-logo-text.
// 2. Needs left/right margin so it doesn't cover left/right nav bar toggles
// 3. Offset the letter-spacing on the last character by adding a right negative
//    margin. This centers the text logo properly.
// 4. When the word "cart" is added to the mobile header's cart link, add more
//    margin to compensate.
// 5. When logo size is set to "original", we don't have advance knowledge of the
//    image size, so we can't use absolute positioning + padding to reserve space
//    for lazy loading.
//
// -----------------------------------------------------------------------------

.header {
    width: 100%;
    overflow: visible;
    position: relative;
    box-shadow: none;
    border-bottom: none;
    z-index: 99;
    background-color: $header-bg;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    &.is-open {
        @include breakpoint("medium") {
            height: auto;
        }
    }
    @media (min-width: 1025px) {
        z-index: zIndex("low");
        box-shadow: none;
        body:not(.page-type-default) & {
            box-shadow: 0 0 0 1px rgba(0,0,0,.06), 0 1px 2px 0 rgba(0,0,0,.1);
        }
    }
}

.header-logo {
    margin: 0;
    font-size: 0;
    text-align: center;
    > a {
        @include clearfix;
        color: $storeName-color;
        display: inline-block;
        position: relative;
        text-decoration: none;
        z-index: 1;
    }
}

.header-logo-text {
    display: block;
    font-family: $fontFamily-headings;
    font-size: $fontSize-logo-small;
    font-weight: 700;
    letter-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    line-height: 1;
    padding: remCalc(3px) 0;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;

    @include breakpoint("small") {
        font-size: $fontSize-logo-medium;
        padding-bottom: 0;
        padding-top: 0;
    }

    @include breakpoint("medium") {
        display: inline;
        font-size: $fontSize-logo-large;
        margin-left: 0;
        max-width: none;
        overflow: auto;
        white-space: normal;
        vertical-align: top;
    }
}

.header-logo-image-container {
    position: relative;
}

.header-logo-image {
    height: 24px;
    width: auto;
}

.header-logo-image-unknown-size {
    max-height: remCalc($header-height) - $header-logo-marginVertical * 2;

    @include breakpoint("medium") {
        max-height: none;
    }
}

.header-sticky {
    &.is-sticky {
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
        position: fixed;
        box-shadow: 0 1px 2px rgba(0,0,0,0.15);
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        transform: none;
        animation-name: fadeInDown;
        animation-duration: 0.5s;
        animation-fill-mode: both;
        .themevale_header-top, .themevale_header-bottom {
            display: none;
        }
        .themevale_header-middle {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        @media (min-width: 1025px) {
            box-shadow: 0 0 8px 0 rgba(17,35,56,.18);
        }
    }
}

#leadtime {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    background: linear-gradient(90deg, red, green, blue, red);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 300% 300%;
    animation: colorRotate 3s ease-in-out infinite;
    text-shadow:
        0 0 10px rgba(255, 255, 255, 0.8),
        0 0 25px rgba(255, 255, 255, 0.8),
        0 0 20px rbga(255, 255, 255, 0.8)
}

@keyframes colorRotate {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.navUser-item2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#leadtime2 {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background: linear-gradient(90deg, red, green, blue, red);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 300% 300%;
    animation: colorRotate 3s ease-in-out infinite;
    text-shadow:
        0 0 10px rgba(255, 255, 255, 0.8),
        0 0 25px rgba(255, 255, 255, 0.8),
        0 0 15px rgba(255, 255, 255, 0.8);
}

@media (min-width: 768px) {
    #leadtime2 {
        display: none;
    }
}

//
// Mobile Menu Toggle
//
// 1. Animate lines from 'x' to hamburger
// -----------------------------------------------------------------------------

.mobileMenu-toggle {
    width: 30px;
    height: 30px;
    font-size: 0;
    overflow: hidden;
    position: relative;
    display: block;
    z-index: 1;
    outline: none;
    box-shadow: none;
    .mobileMenu-toggleIcon,
    .mobileMenu-toggleIcon::before,
    .mobileMenu-toggleIcon::after {
        // background-color: stencilColor('themevale_header-middle-color');
        background-color: #d72028;
        content: "";
        display: block;
        height: 4px;
        width: 100%;
        position: absolute;
        transform: rotate(0deg);
        transition: transform 100ms ease-in, top 100ms ease-in 150ms, bottom 100ms ease-in 150ms;
    }
    .mobileMenu-toggleIcon {
        top: 50%;
        width: calc(100%);
        transform: translateY(-50%);
        transition: background-color 10ms ease-in 100ms;
    }
    .mobileMenu-toggleIcon::before {
        top: -10px;
    }
    .mobileMenu-toggleIcon::after {
        bottom: -10px;
    }
    &.is-open .mobileMenu-toggleIcon {
        background-color: transparent;
        transition-delay: 100ms;
        &::before,
        &::after {
            bottom: auto;
            top: auto;
            transition: transform 100ms ease-in 150ms, top 100ms ease-in, bottom 100ms ease-in;
        }
        &::before {
            top: 0;
            transform: rotate(45deg);
        }
        &::after {
            bottom: 0;
            transform: rotate(-45deg);
        }
    }
    @media (min-width: 1025px) {
        width: 30px;
        height: 30px;
        .mobileMenu-toggleIcon,
        .mobileMenu-toggleIcon::before,
        .mobileMenu-toggleIcon::after {
            height: 4px;
        }
        .mobileMenu-toggleIcon::before {
            top: -8px;
        }
        .mobileMenu-toggleIcon::after {
            bottom: -8px;
        }
    }
}

/*=========================================
=            www.themevale.com            =
=========================================*/
    
    /*--------  0.0 Global  -------------*/
        .themevale_header-PC {
            display: none;
            @media (min-width: 1025px) {
                display: block;
                width: 100%;
            }
        }

        .themevale_header-Mobile {
            display: flex;
            @media (min-width: 1025px) {
                display: none;
            }
        }

        .themevale_header-layout-1 {
            .item--hamburger {
                display: none;
            }
            .themevale_header-middle {
                .item--hamburger + .logo-wrapper {
                    margin-left: 0;
                }
            }
            &.is-sticky {
                .item--hamburger {
                    display: block;
                }
                .themevale_header-middle {
                    .item--hamburger + .logo-wrapper {
                        margin-left: 30px;
                    }
                }
            }
        }

        .themevale_header-layout-2 {
            .themevale_header-top {
                padding: 10px 0;
                position: relative;
                z-index: 22;
                .container {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                }
                .navUser {
                    display: inline-block;
                    vertical-align: middle;
                    width: 33.33333333333%;
                    &.text-center {
                        width: 30%;
                    }
                    &.text-right {
                        width: 40%;
                    }
                }
            }
            .themevale_header-middle {
                padding: 20px 0;
                .container {
                    align-items: center;
                }
                .navUser-item {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            .navPages-container {
                position: relative;
            }
            .navUser-item--quickSearch {
                margin-right: 30px;
            }
            .custom-link,
            .facebook-like {
                right: 0;
                top: 50%;
                position: absolute;
                transform: translateY(-50%);
            }
            .custom-link {
                .navPages-action {
                    font-size: 16px;
                    font-weight: 700;
                    display: inline-block;
                    text-transform: uppercase;
                    padding: 13px 0 11px;
                    position: relative;
                    font-family: $fontFamily-headings;
                    color: stencilColor('navPages-color');
                    .text {
                        position: relative;
                        &:before {
                            left: 0;
                            bottom: -1px;
                            content: "";
                            height: 1px;
                            width: 100%;
                            position: absolute;
                            transition: all 0.3s ease;
                            background-color: stencilColor('navPages-color');
                        }
                    }
                }
            }
            &.custom {
                .themevale_header-middle {
                    .navUser-item + .navUser-item {
                        margin-left: 30px;
                    }
                }
                .headerMiddle-item.text-left {
                    min-width: 240px;
                    text-align: center;
                    justify-content: center;
                }
                .navUser-item--quickSearch {
                    margin-right: 15px;
                }
                .navPages {
                    .navPages-item > .navPages-action {
                        .navPages-action-moreIcon {
                            display: inline-block !important;
                            vertical-align: middle;
                        }
                    }
                    .navPages-list--user {
                        display: block;
                    }
                }
                @media (min-width: 1025px) {
                    &:not(.is-sticky) {
                        .item--hamburger {
                            display: none;
                        }
                        .themevale_header-middle {
                            .item--hamburger + .logo-wrapper {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }

    /*----------  1.0 Topbar Promotion  ----*/
        #themevale_top-promotion {
            font-size: 11px;
            font-weight: 500;
            padding: 8px 0;
            text-align: center;
            position: relative;
            color: stencilColor('themevale_top-promotion-color');
            background-color: stencilColor('themevale_top-promotion-bg');
            .banner-promotion {
                display: block;
                .image {
                    display: inline-block;
                    margin-right: 15px;
                    max-height: 20px;
                }
                .text {
                    font-weight: 700;
                    display: block;
                    margin-bottom: 5px;
                }
                .link {
                    display: none;
                }
            }
            
            .close-banner-promotion {
                top: 50%;
                right: 15px;
                font-size: 0;
                line-height: 1;
                position: absolute;
                transform: translateY(-50%);
                svg {
                    fill: stencilColor('themevale_top-promotion-color');
                    width: 18px;
                    height: 18px;
                    line-height: 18px;
                }
            }
            @media (min-width: 360px) {
                .banner-promotion {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .text {
                        margin: 0;
                    }
                }
            }
            @include breakpoint('small') {
                font-size: 12px;
                padding: 10px 0;
                .banner-promotion {
                    .image {
                        margin-right: 25px;
                        max-height: 30px;
                    }
                    .link {
                        margin-left: 25px;
                        border-radius: 3px;
                        padding: 1px 15px;
                        margin-left: 10px;
                        display: inline-block;
                        background-color: transparent;
                        color: stencilColor('themevale_top-promotion-color');
                        border: 1px solid stencilColor('themevale_top-promotion-border');
                    }
                }
            }
        }

    /*----------  2.0 Header Top  ----------*/
        .themevale_header-top {
            padding: 9px 0;
            color: stencilColor('themevale_header-top-color');
            background-color: stencilColor('themevale_header-top-background');
            border-bottom: 1px solid stencilColor('themevale_header-top-border');
            .navUser {
                &:before,
                &:after {
                    content: none;
                }
            }
            .navUser-action {
                color: stencilColor('themevale_header-top-color');
                svg {
                    fill: stencilColor('themevale_header-top-color');
                    stroke: stencilColor('themevale_header-top-color');
                }
                .icon, .text {
                    display: inline-block;
                    vertical-align: middle;
                }
                .icon.big {
                    @include square(14px);
                    opacity: 0.3;
                    margin: 0 5px 0 0;
                }
                &:before {
                    content: '';
                    left: 0;
                    width: 0;
                    bottom: -2px;
                    height: 1px;
                    position: absolute;
                    background-color: stencilColor('themevale_header-top-color--hover');
                    transition: all 0.3s ease;
                }
                &:hover {
                    color: stencilColor('themevale_header-top-color--hover');
                    &:before {
                        width: 100%;
                    }
                    svg {
                        fill: stencilColor('themevale_header-top-color--hover');
                        stroke: stencilColor('themevale_header-top-color--hover');
                    }
                }
            }
            .navUser-item--mail,
            .navUser-item--phone {
                > .icon {
                    @include square(14px);
                    opacity: 0.3;
                    margin: 0 5px 0 0;
                    display: inline-block;
                    vertical-align: middle;
                }
                > .navUser-action {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            .navUser-item--mail {
                > .navUser-action {
                    text-transform: lowercase;
                }
            }
            .navUser-item--account {
                color: stencilColor('themevale_header-top-color');
                svg {
                    fill: stencilColor('themevale_header-top-color');
                    stroke: stencilColor('themevale_header-top-color');
                }
            }
        }

    /*----------  3.0 Header Middle  -------*/
        .themevale_header-middle {
            display: block;
            padding: 19px 0 19px 0;
            background-color: stencilColor('themevale_header-middle-background');
            .headerMiddle-item {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
            }
            .container {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;
                &:before,
                &:after {
                    content: none;
                }
                .item {
                    position: relative;
                    + .item {
                        margin-left: 30px;
                    }
                    &:last-child {
                        margin-left: 20px;
                        padding-left: 20px;
                        &:before {
                            left: 0;
                            top: 50%;
                            width: 1px;
                            content: "";
                            height: 100%;
                            position: absolute;
                            background-color: #e2e4e8;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
            .item--office {
                text-align: center;
                .office-phone {
                    margin: 0;
                    font-size: 20px;
                    line-height: 1;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-family: $fontFamily-headings;
                    color: stencilColor('themevale_office-phone-color');
                }
                .office-hours {
                    line-height: 1;
                    margin: 5px 0 0 0;
                }
            }
            .item-wislish + .item-cart {
                margin-left: 15px;
            }
            .item-cart,
            .item-wislish {
                display: inline-block;
                vertical-align: middle;
                .icon {
                    margin: 0;
                    @include square(30px);
                }
            }
            .themevale_cart {
                .cartdesktop {
                    display: none;
                }
                .cartMobile {
                    display: block;
                }
                @media (min-width: 1025px) {
                    .cartdesktop {
                        display: block;
                    }
                    .cartMobile {
                        display: none;
                    }
                }
            }
            .item--hamburger + .logo-wrapper {
                margin-left: 30px;
            }
            .navUser-action {
                color: stencilColor('themevale_header-middle-color');
                svg {
                    fill: stencilColor('themevale_header-middle-color');
                    stroke: stencilColor('themevale_header-middle-color');
                }
                &:hover {
                    color: stencilColor('themevale_header-middle-color--hover');
                    svg {
                        fill: stencilColor('themevale_header-middle-color--hover');
                        stroke: stencilColor('themevale_header-middle-color--hover');
                    }
                }
            }
        }
    
    /*----------  4.0 Header Bottom  -------*/
        .themevale_header-bottom {
            border-top: 1px solid stencilColor('themevale_header-bottom-border');
            border-bottom: 1px solid stencilColor('themevale_header-bottom-border');
            background-color: stencilColor('themevale_header-bottom-background');
            transition: all 0.3s ease;
        }
    
    /*----------  5.0 Header Mobile  -------*/
        .themevale_header-Mobile {
            padding: 0px 15px;
            height: 50px;
            width: 100%;
            line-height: 50px;
            align-items: center;
            justify-content: space-between;
            background-color: #ffffff;
            .navUser-item-cartIcon {
                .countPill {
                    margin: 0;
                    font-size: 11px;
                    top: -8px;
                    right: -9px;
                    position: absolute;
                    display: block;
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                }
            }
            .header-Mobile-item {
                min-width: 85px;
                .items {
                    display: inline-block;
                    vertical-align: middle;
                    + .items {
                        margin-left: 16px;
                        @media (min-width: 360px) {
                            margin-left: 20px;
                        }
                    }
                }
                .header-logo-image {
                    max-height: 12px;
                    max-width: 140px;
                }
                .navUser-action {
                    .navUser-icon {
                        vertical-align: top;
                    }
                    .icon {
                        margin: 0;
                        position: relative;
                        top: -1px;
                        @include square(24px);
                    }
                }
                .item--searchMobile {
                    .navUser-action {
                        .icon {
                            &.icon-close {
                                display: none;
                            }
                        }
                        &.is-open .icon {
                            display: none;
                            &.icon-close {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }

    /*----------  6.0 Header Notice  -------*/
        .themevale_flash-sale,
        .flash-sale-wholesale {
            margin-top: 0 !important;
            padding: 8px 0;
            text-align: center;
            color: stencilColor('themevale_flash-sale-color');
            background-color: stencilColor('themevale_flash-sale-bg');
            a, span {
                display: inline-block;
                vertical-align: middle;
                color: inherit;
            }
            svg {
                fill: stencilColor('themevale_flash-sale-color');
            }
            .icon {
                display: none;
                margin-right: 12px;
                svg {
                    @include square(16px);
                }
            }
            .title {
                display: none;
                font-weight: 700;
                text-transform: capitalize;
            }
            .content {
                font-weight: 400;
            }
            .time {
                font-size: 14.5px;
                margin-left: 10px;
                margin-right: 10px;
                font-weight: 700;
                line-height: 1;
                text-transform: uppercase;
                .block-time {
                    margin-right: 5px;
                }
            }
            .link {
                font-weight: 700;
                font-style: italic;
                text-decoration: underline;
                text-transform: capitalize;
                text-underline-position: under;
            }
            .close {
                right: 5px;
                top: 5px;
                position: absolute;
                .icon {
                    display: block;
                    margin-right: 0;
                    @include square(12px);
                }
            }
            @include breakpoint('small') {
                padding: 12px 0;
                .icon, .title {
                    display: inline-block;
                    vertical-align: middle;
                }
                .close {
                    top: 3px;
                    right: 20px;
                    .icon {
                        @include square(16px);
                    }
                }
            }
        }

/*=====  End of www.themevale.com  ======*/
