<section class="coming-soon">
    <div class="container">
        <h2 class="coming-soon__title">Coming Soon for <span class="coming-soon_title-highlight">C8 Corvette</span></h2>
        <ul class="coming-soon__list">
            <li class="coming-soon__item">
                <a href="/fabspeed-c8-zr1x-super-high-flow-competition-intake-system/?ctk=6e46ee4c-1333-4eba-8cb2-0483d168bdd8" class="coming-soon__link">
                    <img src="https://cdn11.bigcommerce.com/s-fh9wsjv2/images/stencil/600x600/products/6595/51967/DSC03204__82372.1772199073.JPG?c=2"
                        alt="" class="coming-soon__img">
                    <h3 class="coming-soon__item-title">Fabspeed <span class="coming-soon_title-highlight">C8 ZR1X</span> Super High-flow competition intake system</h2>
                </a>
            </li>
            <li class="coming-soon__item">
                <a href="/fabspeed-c8-z06-super-high-flow-competition-intake-system/?ctk=612e190f-6c44-4238-820d-61291c8c66c1" class="coming-soon__link">
                    <img src="https://cdn11.bigcommerce.com/s-fh9wsjv2/images/stencil/600x600/products/6594/51962/DSC03204__22031.1772199003.JPG?c=2"
                        alt="" class="coming-soon__img">
                    <h3 class="coming-soon__item-title">Fabspeed <span class="coming-soon_title-highlight">C8 Z06</span> Super High-flow competition intake system</h2>
                </a>
            </li>
            <li class="coming-soon__item">
                <a href="/fabspeed-c8-zr1-super-high-flow-competition-intake-system/?ctk=6ba51537-81ac-4b82-84ea-0415610c9f86" class="coming-soon__link">
                    <img src="https://cdn11.bigcommerce.com/s-fh9wsjv2/images/stencil/600x600/products/6593/51957/DSC03204__71627.1772198870.JPG?c=2"
                        alt="" class="coming-soon__img">
                    <h3 class="coming-soon__item-title">Fabspeed <span class="coming-soon_title-highlight">C8 ZR1</span> Super High-flow competition intake system</h2>
                </a>
            </li>
        </ul>
    </div>
</section>
