<div class="info-cards">
    <div class="container">
        <div class="info-cards-wrapper">
            <a href="/" class="info-card">
                <img class="info-card__img" src="https://placehold.co/400x300" alt="">
                <h2 class="info-card__title">Placeholder Title</h2>
                <p class="info-card__desc">Fusce sed accumsan eros. Sed et eleifend ipsum. Donec tristique leo vel ex convallis, ullamcorper commodo risus fringilla. Nullam malesuada a arcu vitae porta. Suspendisse ut velit turpis.</p>
            </a>
            <a href="/" class="info-card">
                <img class="info-card__img" src="https://placehold.co/400x300" alt="">
                <h2 class="info-card__title">Placeholder Title</h2>
                <p class="info-card__desc">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus a egestas nulla, nec iaculis augue. Curabitur turpis odio, sodales in turpis a, varius blandit tortor.</p>
            </a>
            <a href="/" class="info-card">
                <img class="info-card__img" src="https://placehold.co/400x300" alt="">
                <h2 class="info-card__title">Placeholder Title</h2>
                <p class="info-card__desc">Donec volutpat velit et dictum eleifend. Curabitur vulputate est eu nibh semper molestie. Phasellus volutpat neque vel tortor cursus pharetra.</p>
            </a>
        </div>
    </div>
</div>