// =============================================================================
// SIDEBAR BLOCKS (CSS)
// =============================================================================


// Block
// -----------------------------------------------------------------------------

.page-sidebar {
    line-height: 24px;
    ul {
        margin: 0;
        list-style: none;
        > li {
            float: none;
            display: block;
            position: relative;
            line-height: 24px;
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0;
            }
            @media (min-width: 1025px) {
                line-height: 30px;
            }
        }
    }
    .accordion--navList ul > li > a {
        padding: 0;
        padding-left: 25px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 12px;
        line-height: 20px;
        font-weight: 700;
        vertical-align: top;
        display: inline-block;
        text-transform: capitalize;
        color: #323232;
        margin-bottom: 0;
        word-break: break-word;
        &:hover {
            color: #5874b0;
        }
    }
    .slick-arrow {
        &.slick-prev {
            left: 5px;
        }
        &.slick-next {
            right: 5px;
        }
    }
    .slick-dots {
        bottom: auto;
        margin-top: 10px;
        position: relative;
        li {
            display: inline-block;
            button {
                width: 8px;
                height: 8px;
                display: block;
            }
        }
    }
    .accordion-block {
        .toggleLink {
            padding: 0;
            margin-bottom: 0;
        }
    }
    .recentPosts_List {
        margin: 0 0 10px 0;
        > .item {
            padding: 0;
            margin-top: 10px;
            padding-top: 10px;
            border-top: 1px dotted #eeeeee;
            &:first-child {
                margin-top: 0;
                padding-top: 0;
                border-top: 0;
            }
        }
    }
}

.sidebarBlock {
    border-radius: 3px;
    border: 1px solid #e2e4e8;
    + .sidebarBlock {
        margin-top: 30px;
    }
    > ul,
    .sidebarBlock-content {
        padding: 12px 20px 12px 20px;
    }
    .sidebarBlock-content {
        p:last-child {
            margin-bottom: 0;
        }
    }
    .productCarousel,
    #facetedSearch-content--price {
        margin: 0;
        padding: 20px;
        .productCarousel-slide {
            padding: 0 5px;
        }
    }
    &#advertisement-image-1,
    &#advertisement-image-2 {
        border: none;
    }
    .advertisement-image {
        text-align: center;
    }
    .productCarousel-slide {
        width: 100%;
        .card {
            margin-bottom: 0;
        }
    }
    .inlineList--labels > li {
        margin: 0 5px 5px 0;
    }
    .navList-action--checkbox:before,
    .navList-action--checkbox:after {
        top: 6px;
    }
    .navList-action--checkbox:before {
        margin-top: 0;
    }
    .navList-action--checkbox:after {
        margin-top: 0;
    }
}

.sidebarBlock-heading {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding: 12px 20px 12px 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #e2e4e8;
}

.all-categories-list {
    .navPages-item {
        margin: 0;
        float: none;
        display: block;
        line-height: 40px;
        position: relative;
        border-top: 1px dotted #e2e4e8;
        &:first-child {
            border-top: 0;
        }
        .navPages-action-wrapper {
            display: block;
            position: relative;
            cursor: pointer;
        }
        a {
            padding: 0;
            font-size: 12px;
            font-weight: 700;
            vertical-align: top;
            display: inline-block;
            text-transform: capitalize;
            color: stencilColor("color-textLink");
            &:hover {
                color: stencilColor("color-textLink--hover");
            }
        }
        .icon-arrow {
            top: 0;
            padding: 0 15px;
            right: -10px;
            width: 40px;
            height: 40px;
            display: block;
            cursor: pointer;
            line-height: 40px;
            position: absolute;
            transition: all 0.3s ease;
            svg {
                display: block;
                width: 100%;
                height: 100%;
                fill: #d0d0d0;
                stroke: #d0d0d0;
            }
            &:hover,
            &:focus,
            &:active {
                -webkit-tap-highlight-color:transparent;
                -moz-tap-highlight-color:transparent;
                -o-tap-highlight-color:transparent;
                tap-highlight-color:transparent;
            }
        }
    }
    .dropdown-category-list {
        margin: 0;
        display: none;
        list-style: none;
        overflow: hidden;
        padding-top: 5px;
        padding-left: 15px;
        padding-bottom: 15px;
        .navPage-subMenu-item {
            width: 100%;
            float: none;
            display: block;
            position: relative;
            padding-left: 0;
            padding-right: 0;
            line-height: 30px;
            a {
                margin: 0;
                width: auto;
                border: none;
                font-size: 12px;
                color: stencilColor("color-textLink--hover");
            }
            .icon-arrow {
                right: -5px;
                width: 30px;
                height: 30px;
                padding: 0 10px;
                line-height: 30px;
            }
        }
        .dropdown-category-list {
            padding-top: 10px;
            padding-bottom: 10px;
            a {
                font-weight: 400;
                @media (min-width: 1025px) {
                    &:before {
                        left: 0;
                        width: 0;
                        bottom: 7px;
                        content:"";
                        height: 1px;
                        position: absolute;
                        transition: all 0.3s ease;
                        background-color: stencilColor("color-textLink--hover");
                    }
                    &:hover {
                        &:before {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .is-clicked {
        > a {
            color: stencilColor("color-textLink--hover");
        }
        > .navPages-action-wrapper > .icon-arrow {
            transform: rotate(90deg);
        }
    }
}

.navList {
    .navList-action {
        padding: 0;
        font-size: $body-fontSize;
        font-weight: 400;
        vertical-align: top;
        display: inline-block;
        text-transform: capitalize;
        color: stencilColor("color-textLink");
        &:hover {
            color: stencilColor("color-textLink--hover");
        }
    }
    .view_all {
        a {
            font-weight: 700;
            color: stencilColor("color-textLink--hover");
            &:before {
                left: 0;
                width: 0;
                bottom: 7px;
                content:"";
                height: 1px;
                position: absolute;
                transition: all 0.3s ease;
                background-color: stencilColor("color-textLink--hover");
            }
            &:hover {
                color: stencilColor("color-textLink--hover");
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

.cms-image {
    img {
        margin-left: auto;
        margin-right: auto;
    }
}

.sidebarBlock-content.productCarousel {
    margin-left: -5px;
    margin-right: -5px;
    .slick-arrow {
        padding: 0;
        line-height: 25px;
        top: calc(50% - 100px);
        @include square(25px);
        &.slick-next {
            right: 20px;
        }
        &.slick-prev {
            left: 20px;
        }
    }
    .slick-slide,
    .productCarousel-slide {
        padding-left: 5px;
        padding-right: 5px;
    }
    .card-figure {
        padding-left: 30px;
        padding-right: 30px;
        .card-figcaption {
            display: none;
        }
    }
    &:not(.slick-slider) {
        overflow: hidden;
        white-space: nowrap;
        .productCarousel-slide {
            display: inline-block;
            vertical-align: top;
            width: 100%;
        }
    }
}

.facetedSearch-refineFilters {
    > a[data-faceted-search-facet] {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 15px;
        display: inline-block;
        text-transform: uppercase;
        font-weight: 700;
        color: #323232;
        font-size: 12px;
        &:hover {
            color: #323232;
        }
    }
    .facetLabel {
        color: #323232;
        font-size: 12px;
        display: inline-block;
        &:hover {
            color: #323232;
        }
    }
}

.navList-action-close {
    top: 5px;
    position: absolute;
    right: 0;
}

.themevale_sidebar-mobile-wrapper {
    display: block;
    margin-bottom: 30px;
    .themevale_sidebar-mobile {
        > .text {
            margin: 2px 0 0 0;
            font-size: 12px;
            padding-right: 10px;
            min-width: 70px;
            font-weight: 700;
            vertical-align: middle;
            text-transform: uppercase;
        }
        > .icon {
            width: 36px;
            height: 36px;
        }
    }
    @include breakpoint('small') {
        .themevale_sidebar-mobile > .icon {
            width: 40px;
            height: 40px;
        }
    }
    @media (min-width: 1025px) {
        display: none;
        margin-bottom: 0;
    }
}

.sidebarBlock_custom {
    border: none;
    > ul, .sidebarBlock-content {
        padding: 5px 0 0 0;
    }
    + .sidebarBlock {
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px solid #eeeeee;
    }
    .sidebarBlock-heading {
        border: none;
        font-size: 20px;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .sidebarBlock-content {
        p.title {
            text-decoration: underline;
            text-underline-position: under;
        }
        a,
        p.link {
            color: stencilColor("color-textLink--hover");
        }
        > ul {
            margin-bottom: 25px;
            margin-left: 15px;
            list-style-type: disc;
            list-style-position: outside;
            li {
                display: list-item;
                line-height: 24px;
            }
        }
    }
}

.recentPost-sidebar {
    text-align: left;
    .title {
        margin: 0;
        text-transform: capitalize;
        line-height: 20px;
        font-size: $body-fontSize;
        font-weight: 400;
        font-family: $fontFamily-sans;
        color: stencilColor('color-textLink--hover');
        a {
            color: inherit;
        }
    }
}
