// =============================================================================
// Stencil Checkout  - Customize the checkout experience
// =============================================================================
//
// This file is for checkout customizations for Default one-page checkout.
//
// -----------------------------------------------------------------------------
//
// 1. Let press Ctrl + f and type of paste the key, then press Enter to search the content
//
// HALO CSS:
//
//  1.0 Global style
//
//  2.0 Thank you page
//
//  RESPONSIVE
//
//
// -----------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Arimo:400,600,700|Rajdhani:400,600,700&font-display=swap');

/*=========================================
=            www.themevale.com            =
=========================================*/

    /*--------  1.0 Global style  -------*/
        body {
            color: #383e47;
            font-size: 12px;
            line-height: 22px;
            font-weight: 400;
            font-family: "Arimo", Arial, Helvetica, sans-serif;
        }

        .page {
            overflow-x: hidden;
        }

        h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
            color: #383e47;
            font-weight: 700;
            font-family: "Rajdhani", Arial, Helvetica, sans-serif;
        }

        a {
            position: relative;
            text-decoration: none;
            transition: all 0.3s ease;
            &:hover,
            &:focus,
            &:active {
                outline: none;
                text-decoration: none;
            }
        }

        strong, b {
            font-weight: 700;
            color: #383e47;
        }

        .header {
            border: none;
            background-color: #ffffff;
            box-shadow: 0 0 0 1px rgba(0,0,0,.06), 0 1px 2px 0 rgba(0,0,0,.1)
        }

        .header-logo {
            font-size: 24px;
            line-height: 1;
            margin-bottom: 0;
            padding: 15px 0 15px 0;
            img {
                max-height: 24px;
            }
            @media (min-width: 551px) {
                padding: 25px 0 25px 0;
                img {
                    max-height: 40px;
                }
                .checkoutHeader-heading {
                    font-size: 36px;
                }
            }
        }

        .footer {
            text-align: left;
            padding: 15px 0;
            border-top: 1px solid #eeeeee;
        }

        #Header > .inner,
        .main > .inner,
        .footer-links > .inner {
            max-width: 1200px;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            background-color: transparent;
        }

        .Content {
            padding: 50px 0;
            &.Widest {
                padding: 50px 0;
            }
        }

        .btn,
        .btn.alt,
        .button {
            color: #ffffff;
            font-size: 16px;
            font-weight: 700;
            padding: 13px 15px 12px 15px;
            line-height: 1;
            border-radius: 3px;
            letter-spacing: 0;
            text-transform: uppercase;
            border: 1px solid #383e47;
            background-color: #383e47;
            transition: all 0.3s ease;
            font-family: "Rajdhani", Arial, Helvetica, sans-serif;
            &:hover, &:focus, &:active {
                color: #ffffff;
                border: 1px solid #383e47;
                background-color: #383e47;
            }
            @media (min-width: 415px) {
            	font-size: 16px;
                padding: 13px 30px 12px 30px;
            }
            @media (min-width: 1025px) {
                &:hover, &:focus, &:active {
                    color: #383e47;
                    border: 1px solid #383e47;
                    background-color: transparent;
                }
            }
        }

        hr,
        hr.clear {
            border: none;
            border-bottom: 1px solid #ABABAB;
        }

        input, select, textarea, 
        input.Textbox, input[type="text"] {
            height: 40px;
            color: #383e47;
            font-size: 12px;
            box-shadow: none;
            line-height: 20px;
            padding: 10px 15px;
            border-radius: 3px;
            border-color: #dcdcdc;
            font-family: "Arimo", Arial, Helvetica, sans-serif;
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        div.selector {
            height: 40px;
            font-size: 12px;
            box-shadow: none;
            line-height: 20px;
            border-radius: 3px;
            border-color: #dcdcdc;
            min-height: 40px !important;
            padding: 10px 35px 10px 15px;
            &:focus, &.focus {
                outline: none;
                box-shadow: none;
            }
            span {
                height: auto;
                padding-left: 0;
                line-height: 20px;
            }
        }


        input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 30px white inset;
        }

    /*--------  2.0 Onepage checkout  ---*/
    
        .ExpressCheckoutBlock {
            padding: 0;
            border-radius: 3px;
            margin-bottom: 30px;
            border: 1px solid #e2e4e8 !important;
            .ExpressCheckoutTitle {
                margin: 0;
                border-radius: 3px 3px 0 0;
                background-color: #f7f7f7;
                h3 {
                    margin: 0;
                    padding: 0;
                    font-size: 18px;
                    font-weight: 700;
                    min-width: 350px;
                    display: inline-block;
                    vertical-align: middle;
                    text-transform: uppercase;
                    font-family: "Rajdhani", Arial, Helvetica, sans-serif;
                }
                .step {
                    left: auto;
                    width: 48px;
                    height: 48px;
                    color: #383e47;
                    font-size: 16px;
                    font-weight: 700;
                    border-radius: 0;
                    line-height: 49px;
                    position: relative;
                    margin-right: 15px;
                    display: inline-block;
                    vertical-align: middle;
                    background-color: #ffffff;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    border-radius: 3px 0 0 0;
                }
                span.ExpressCheckoutCompletedContent {
                    color: #383e47;
                    display: inline-block;
                }
                a.ChangeLink {
                    right: 20px;
                    padding: 0;
                    border: none;
                    z-index: 10;
                    color: #005599;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 48px;
                    position: absolute;
                    text-transform: uppercase;
                    font-family: "Rajdhani", Arial, Helvetica, sans-serif;
                }
            }
            .ExpressCheckoutContent {
                padding: 30px 48px 40px 48px;
                .PTB20 {
                    strong {
                        color: #383e47;
                        font-size: 16px;
                        font-weight: 700;
                        text-transform: uppercase;
                        font-family: "Rajdhani", Arial, Helvetica, sans-serif;
                    }
                }
            }
            .PTB20 {
                font-size: 14.5px;
                font-weight: 700; 
            }
            &.ExpressCheckoutBlockCollapsed {
                color: #8c8c8c;
                margin-bottom: 15px;
                .ExpressCheckoutTitle {
                    h3 {
                        color: #383e47;
                    }
                    span.ExpressCheckoutCompletedContent {
                        color: #8c8c8c;
                        font-style: italic;
                        display: inline-block;
                    }
                }
            }
            &#LayoutColumn2,
            &#ChooseBillingAddress {
                border: none !important;
            }
        }

        #CheckoutGuestForm {
            h4 {
                font-size: 16px;
                text-transform: uppercase;
            }
            .mbm {
                > dd {
                    font-weight: 700;
                    margin-bottom: 15px;
                }
            }
            input.btn {
                min-width: 160px;
            }
        }

        .AccountLogin {
            h4 {
                font-size: 16px;
                text-transform: uppercase;
            }
            dl {
                > dd {
                    #login_email {
                        margin-bottom: 10px;
                    }
                    #login_pass {
                        margin-bottom: 0px;
                    }
                    > a {
                        color: #005599;
                    }
                }
            }
            input.btn {
                min-width: 160px;
                margin-top: 10px;
                margin-bottom: 10px;
                border-color: #b20000;
                background-color: #b20000;
                color: #ffffff;
                &:hover, &:focus, &:active {
                	border-color: #b20000;
	                background-color: #ffffff;
	                color: #b20000;
                }
            }
        }

        .HorizontalFormContainer {
            dd {
                .selector span {
                    font-size: 12px;
                    font-family: "Arimo", Arial, Helvetica, sans-serif;
                }
            }
            dl {
                > dt {
                    color: #383e47;
                    font-weight: 700;
                    font-size: 12px;
                }
            }
            p.Submit {
                margin-top: 0;
                padding-top: 0;
            }
            dt {
                width: 150px;
            }
        }

        .AddBillingAddress,
        .AddShippingAddress {
            dd {
                width: 270px;
                padding: 0 0 20px 0px !important
            }
            .HorizontalFormContainer {
                dl {
                    dt {
                        text-align: left;
                    }
                    dt:nth-of-type(2n) {
                        margin-left: 140px;
                    }
                    dd:nth-last-of-type(2) {
                        padding-bottom: 0 !important;
                    }
                }
            }
        }
        .SelectMultipleAddresses {
            margin-left: 0 !important;
        }

        #uniform-sel_billing_address,
        #uniform-sel_shipping_address {
            width: auto;
        }

        table.General, 
        table.CartContents {
            thead {
                background-color: #fafafa;
                tr > th {
                    font-weight: 700;
                    line-height: 20px;
                    padding: 8px 15px;
                    color: #383e47;
                    font-size: 14px;
                    font-family: "Rajdhani", Arial, Helvetica, sans-serif;
                    text-transform: uppercase;
                }
            }
            tbody {
                strong {
                    font-weight: 700;
                    color: #059;
                }
                tr > td {
                    line-height: 20px;
                    padding: 20px 15px;
                    border-color: #dcdcdc;
                    > em {
                        font-weight: 700;
                        color: #383e47;
                        font-style: normal;
                    }
                    &:nth-last-of-type(1),
                    &:nth-last-of-type(2) {
                        font-size: 14px;
                    }
                }
            }
            tfoot {
                strong {
                    font-weight: 700;
                    color: #383e47;
                }
                tr.CheckoutRedeemCoupon {
                    label {
                        font-weight: 700;
                        color: #383e47;
                    }
                }
                tr.SubTotal > td {
                    em {
                        font-weight: 700;
                        color: #383e47;
                        font-style: normal;
                    }
                    &:nth-last-of-type(1) {
                        font-size: 14px;
                    }
                }
            }
        }

        .CartContents tfoot .SubTotal td {
            border-color: #dcdcdc !important;
        }

        #provider_list {
            margin-bottom: -5px;
            > .radio {
                margin-bottom: 12px;
                + label {
                    display: inline-block;
                    vertical-align: middle;
                    margin-bottom: 11px;
                }
            }
        }

        .CheckoutOrderComments {
            margin-bottom: 20px;
        }

        #bottom_payment_button {
            height: auto;
            color: #ffffff;
            border: 1px solid #b20000;
            background-color: #b20000;
            &:hover, &:focus, &:active {
                color: #b20000;
                border: 1px solid #b20000;
                background-color: #ffffff;
            }
        }

    /*--------  3.0 muiti address  ------*/
        
        h1.TitleHeading {
            color: #383e47;
            line-height: 1;
            font-size: 20px;
            font-weight: 700;
            margin-top: 50px;
            margin-bottom: 0;
            padding-bottom: 0;
            text-transform: uppercase;
            font-family: "Rajdhani", Arial, Helvetica, sans-serif;
        }

        .multiStep {
            display: table;
            width: calc(100% - 1px);
            margin: 0;
            margin-bottom: 30px;
            li {
                padding: 0;
                display: table-cell;
                vertical-align: middle;
                border: 1px solid #ececec;
                border-right: none;
                background-color: #fff;
                h4 {
                    color: #383e47;
                    border-bottom: none;
                    text-transform: capitalize;
                    font-size: 12px;
                    padding: 8px 0;
                    font-weight: 700;
                    a {
                        color: #383e47;
                    }
                }
                &.ActivePage {
                    background-color: #fafafa;
                    h4 {
                        padding: 8px 0;
                        margin-bottom: 0;
                        color: #383e47;
                        border-bottom: none;
                    }
                }
                &:last-child {
                    border-right: 1px solid #ececec;
                }
            }
        }

        .Content h2 {
            margin: 0;
            font-weight: 700;
            font-size: 18px;
            line-height: 36px;
            text-transform: uppercase;
        }
        .Content h3 {
            margin: 0;
            padding: 0;
            font-size: 16px;
            font-weight: 700;
            text-transform: capitalize;
        }

        #LayoutColumn1 {
            .Moveable {
                .icon-add {
                    border-radius: 0;
                    background-color: #383e47;
                }
                h2 {
                    margin: 0;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 36px;
                    text-transform: uppercase;
                    font-family: "Rajdhani", Arial, Helvetica, sans-serif;
                    
                }
                h3 {
                    margin: 0;
                    padding: 0;
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-family: "Rajdhani", Arial, Helvetica, sans-serif;
                    
                }
                h4 {
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-family: "Rajdhani", Arial, Helvetica, sans-serif;
                }
                .BlockContent {
                    .TabNav {
                        padding: 0;
                        margin-bottom: 30px;
                        border-bottom: 1px solid #ececec;
                        li {
                            a {
                                margin: 0;
                                font-size: 12px;
                                font-weight: 700;
                                color: #383e47;
                                border-color: #ececec
                            }
                        }
                    }
                    #TabContentAddressMultiple {
                        padding-top: 0;
                    }
                }
                .ExpressCheckoutContent {
                    .CreateAccount ul li {
                        line-height: 28px;
                    }
                }
                .ShippingAddressList {
                    position: relative;
                    display: inline-block;
                    min-width: 320px;
                    li {
                        width: 100%;
                        margin-right: 0;
                    }
                    .UtilityLinks {
                        margin: 0;
                        top: 0;
                        right: 0;
                        width: auto;
                        position: absolute;
                    }
                    .NoMarginBottom {
                        line-height: 30px;
                    }
                }
            }
            .Moveable.ExpressCheckoutBlock {
                border: none !important;
            }
        }

    /*--------  4.0 Thank you page  -----*/
        .checkout-banner {
            text-align: left;
            a {
                color: #383e47;
                font-size: 13px;
                font-weight: 700;
            }
        }

        .ExpressCheckoutBlock {
            .mtm .BoldUpper,
            .NotifyMessage .Bold {
                font-weight: 700;
                color: #383e47;
                margin-right: 10px;
                text-transform: capitalize;
            }
            .NotifyMessage .Bold {
                color: #383e47;
                font-weight: 700;
            }
            .mtm a {
                font-size: 16px;
                font-weight: 700;
                color: #383e47;
                text-decoration: underline;
            }
        }

        #share-product {
            .tabs {
                top: auto;
                height: 40px;
                display: block;
                .sharingTab {
                    border-radius: 0;
                    color: #383e47;
                    font-weight: 700;
                    position: relative;
                    border-bottom: none;
                    padding: 8px 25px;
                    display: inline-block;
                    vertical-align: top;
                    border: 1px solid #ececec;
                    font-family: "Arimo", Arial, Helvetica, sans-serif;
                    &.active {
                        border-bottom: 1px solid #fff;
                    }
                }
            }
        }

        #tabcontent {
            border: 1px solid #ececec;
            border-radius: 0;
            #shareText {
                font-size: 14px;
                line-height: 24px;
                font-weight: 700;
                color: #383e47;
                display: block;
                margin-bottom: 10px;
                text-transform: capitalize;
                font-family: "Arimo", Arial, Helvetica, sans-serif;
            }
            #url {
                margin-top: 10px;
                display: none;
            }
            .btn {
                min-width: 200px;
                line-height: 1;
            }
            .chooseAnotherToShare {
                margin-left: 15px;
                a {
                    margin-left: 15px;
                    color: #059;
                    &:hover {
                        text-decoration: underline;
                        text-underline-position: under;
                    }
                }
            }
            @media (min-width: 992px) {
                padding: 35px 15px;
            }
        }


        #SimilarMultiProductsByCustomerViews {
            padding-top: 50px;
            border-top: none;
            > h4 {
        	    font-size: 20px;
            }
            .ProductList{
                margin: 0 -15px;
                li {
                    padding: 0 15px;
                    margin-bottom: 40px;
                }
                .ProductImage {
                    margin-bottom: 15px;
                    > a {
                        height: auto !important;
                    }
                }
            }
        }

        .ProductList {
            .ProductImage {
                margin-bottom: 15px;
                img {
                    width: 100%;
                    max-width: none;
                    max-height: none;
                }
            }
            .ProductDetails {
                padding: 0;
                font-size: 12px;
                font-weight: 400;
                line-height: 20px;
                margin-bottom: 5px;
                .pname {
                    padding: 0;
                    color: #005599;
                    line-height: 20px;
                    &:hover {
                        color: #005599;
                    }
                }
            }
            .ProductPriceRating {
                padding-bottom: 10px;
                padding-top: 5px;
            }
            .p-price {
                color: #383e47;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                .RetailPriceValue {
                    color: #8c8c8c;
                    margin-right: 5px;
                    font-weight: 700;
                }
                .SalePrice {
                    color: #b20000;
                    font-size: 14px;
                    font-weight: 700;
                }
            }
            .btn {
                line-height: 1;
                min-width: 160px;
                color: #ffffff;
                border-color: #383e47;
                background-color: #383e47;
            }
        }
    
    /*--------  RESPONSIVE  -------------*/
        @media (max-width: 1024px) {
            .main, .footer-links {
                display: block;
                >.inner {
                    max-width: calc(100% - 30px);
                }
            }
            .AddBillingAddress,
            .AddShippingAddress {
                .HorizontalFormContainer dl {
                    dt {
                        text-align: left;
                    }
                    dt:nth-of-type(2n) {
                        margin-left: 0;
                    }
                }
            }
            .header-logo {
                padding: 30px 0;
            }
        }

        @media (max-width: 992px) {
            .ExpressCheckoutBlock {
                .ExpressCheckoutTitle {
                    h3 {
                        min-width: 0;
                        margin-right: 30px;
                    }
                }
                .ExpressCheckoutContent {
                    padding: 20px;
                }
            }
            #CheckoutGuestForm, 
            .AccountLogin h4 {
                font-size: 13px;
            }
        }

        @media (max-width: 767px) {
            .header-logo {
                text-align: left;
                padding: 20px 0;
                font-size: 30px;
                img {
                    max-height: 30px;
                    margin-left: 0;
                }
            }

            .checkout-banner {
                padding: 20px 0;
                a {
                    font-size: 12px;
                }
            }

            .ExpressCheckoutBlock {
                .ExpressCheckoutTitle {
                	h3 {
                		font-size: 16px;
                	}
                    .step {
                        width: 35px;
                        height: 35px;
                        line-height: 37px;
                    }
                    a.ChangeLink {
                    	font-size: 12px;
                    	text-transform: capitalize;
                        line-height: 35px;
                    }
                }
            }

            #multiAddressForm div.selector {
                width: 400px;
            }

            #LayoutColumn1 .multiStep li h4 {
                font-size: 12px;
            }

            .chooseAnotherToShare {
                display: block;
                margin: 10px 0 0 0;
            }

        }

        @media (max-width: 700px) {

            #tabcontent #shareText {
                margin-top: 10px; 
            }

            #share-product .tabs {
                overflow: hidden;
            }

            .ExpressCheckoutContent {
                .AccountLogin,
                .CreateAccount {
                    padding: 0;
                    width: 100%;
                }
            }

            .mtop {
                margin-top: 20px;
            }

            .multiStep {
                width: 100%;
                display: block;
                margin-left: 0;
                margin-right: 0;
                li {
                    display: block;
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    margin-bottom: 10px;
                    border: none;
                    h4 {
                        border: 1px solid #ececec;
                    }
                    &.ActivePage {
                        h4 {
                            border: 1px solid #383e47;
                        }
                    }
                }
            }

            #LayoutColumn1 {
                .Moveable {
                    > h2 {
                        font-size: 14px;
                    }
                }
            }

            .Content h2 {
                font-size: 14px;
            }

            #multiAddressForm div.selector {
                width: 300px;
            }

            .CartContents tfoot .SubTotal td {
                border-color: #dcdcdc !important;
                + td {
                    padding-left: 10px;
                    min-width: 100px;
                    em {
                        font-style: initial;
                    }
                }
            }
            #SimilarMultiProductsByCustomerViews .ProductList li {
                width: 50%;
                margin-bottom: 25px;
            }
        }

        @media (max-width: 480px) {
            input[type="date"], input[type="email"], 
            input[type="number"], input[type="password"], 
            input[type="search"], input[type="tel"], 
            input[type="text"], input[type="url"], textarea, select {
                font-size: 12px !important;
            }

            #multiAddressForm div.selector {
                width: 250px;
            }
        }

        @media (max-width: 414px) {
            #multiAddressForm div.selector {
                width: 200px;
            }
            .CartContents tfoot .SubTotal td {
                text-align: left;
                font-size: 13px;
            }

            #SimilarMultiProductsByCustomerViews {
                .ProductList {
                    margin: 0 -8px;
                    li {
                        padding: 0 8px;
                    }
                }
            }
        }

        @media (max-width: 320px) {
            #multiAddressForm div.selector {
                width: 169px;
            }
        }
    
/*=====  End of www.themevale.com  ======*/
