{{#if theme_settings.themevale_banner-ads-1}}
<div class="sidebarBlock" id="advertisement-image-1">
	<div class="advertisement-image">
		<a class="image" href="#">
			<img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.themevale_banner-ads-1}}" alt="">
		</a>
	</div>
</div>
{{/if}}
{{#if theme_settings.themevale_banner-ads-2}}
<div class="sidebarBlock" id="advertisement-image-2">
	<div class="advertisement-image">
		<a class="image" href="#">
			<img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.themevale_banner-ads-2}}" alt="">
		</a>
	</div>
</div>
{{/if}}
