<div class="header-Mobile-item text-left">
    <div class="items item--hamburger"></div>
</div>
<div class="header-Mobile-item text-center">
    <div class="items">
        <div class="logo-wrapper">
            {{#if customer.customer_group_id '===' 21}}
                <div class="header-logo">
                    <a href="/">
                    <img class="header-logo" src="https://cdn11.bigcommerce.com/s-fh9wsjv2/images/stencil/original/image-manager/dealer-logo-test-5.png?t=1737401960" alt="Custom Header Image">
                    </a>
                </div>
            {{else if customer.customer_group_id '===' 22}}
                <div class="header-logo">
                    <a href="/">
                    <img class="header-logo" src="https://cdn11.bigcommerce.com/s-fh9wsjv2/images/stencil/original/image-manager/dealer-logo-test-5.png?t=1737401960" alt="Custom Header Image">
                    </a>
                </div>
            {{else if customer.customer_group_id '===' 23}}
                <div class="header-logo">
                    <a href="/">
                    <img class="header-logo" src="https://cdn11.bigcommerce.com/s-fh9wsjv2/images/stencil/original/image-manager/dealer-logo-test-5.png?t=1737401960" alt="Custom Header Image">
                    </a>
                </div>
            {{else if customer.customer_group_id '===' 24}}
                <div class="header-logo">
                    <a href="/">
                    <img class="header-logo" src="https://cdn11.bigcommerce.com/s-fh9wsjv2/images/stencil/original/image-manager/dealer-logo-test-5.png?t=1737401960" alt="Custom Header Image">
                    </a>
                </div>
            {{else}}
            {{#if page_type '===' 'default'}}
                <div class="header-logo">
                    {{> components/common/store-logo}}
                </div>
            {{else}}
                <div class="header-logo">
                    {{> components/common/store-logo}}
                </div>
            {{/if}}
            {{/if}}
        </div>
    </div>
</div>
<div class="header-Mobile-item text-right">
    <div class="item item--search">
        <input class="hidden-search-input" type="submit" name="search_query" id="search_query" value="">
        <a class="navUser-action search-icon-action" href="##"><svg class="icon-search"><use xlink:href="#icon-search"></use></svg></a>
    </div>
    <div class="items item--cart themevale_cart">
        <a class="navUser-action cartMobile"
            data-cart-preview
            href="{{urls.cart}}">
            <div class="navUser-icon navUser-item-cartIcon">
                <svg class="icon"><use xlink:href="#icon-cart"></use></svg>
                <span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity">{{#if cart.items}}{{cart.quantity}}{{else}}0{{/if}}</span>
            </div>
        </a>
    </div>
</div>
