<header class="header themevale_header-layout-1 header-sticky">
    <div class="themevale_header-PC">
        <div class="themevale_header-middle {{#if customer.customer_group_name '===' 'Wholesale 15%'}}has-gray-bg
        {{else if customer.customer_group_name '===' 'Wholesale 20%'}}has-gray-bg
        {{else if customer.customer_group_name '===' 'Wholesale 25%'}}has-gray-bg
        {{else if customer.customer_group_name '===' 'Wholesale 30%'}}has-gray-bg
        {{/if}}">
            
            <div class="container" style="width: 100%;">
                <div class="headerMiddle-item text-left">
                    <div class="item--hamburger">
                        <a class="mobileMenu-toggle" href="#" data-mobile-menu-toggle="menu">
                            <span class="mobileMenu-toggleIcon">Toggle menu</span>
                        </a>
                    </div>
                    
                    <div class="logo-wrapper">
                        <h1 class="header-logo aus-logo">
                            {{#contains customer.customer_group_name "Wholesale"}}
                                <a href="/">
                                    <img class="header-logo" src="https://cdn11.bigcommerce.com/s-fh9wsjv2/images/stencil/original/image-manager/dealer-logo-aus.png?t=1771519873" alt="Custom Header Image">
                                </a>
                            {{else}}
                                {{> components/common/store-logo}}
                            {{/contains}}
                        </h1>
                        {{#if customer.customer_group_id '===' 21}}
                            <h1 class="header-logo">
                                <a href="/">
                                <img class="header-logo" src="https://cdn11.bigcommerce.com/s-fh9wsjv2/images/stencil/original/image-manager/dealer-logo-test-5.png?t=1737401960" alt="Custom Header Image">
                                </a>
                            </h1>
                        {{else if customer.customer_group_id '===' 22}}
                            <h1 class="header-logo">
                                <a href="/">
                                <img class="header-logo" src="https://cdn11.bigcommerce.com/s-fh9wsjv2/images/stencil/original/image-manager/dealer-logo-test-5.png?t=1737401960" alt="Custom Header Image">
                                </a>
                            </h1>
                        {{else if customer.customer_group_id '===' 23}}
                            <h1 class="header-logo">
                                <a href="/">
                                <img class="header-logo" src="https://cdn11.bigcommerce.com/s-fh9wsjv2/images/stencil/original/image-manager/dealer-logo-test-5.png?t=1737401960" alt="Custom Header Image">
                                </a>
                            </h1>
                        {{else if customer.customer_group_id '===' 24}}
                            <h1 class="header-logo">
                                <a href="/">
                                <img class="header-logo" src="https://cdn11.bigcommerce.com/s-fh9wsjv2/images/stencil/original/image-manager/dealer-logo-test-5.png?t=1737401960" alt="Custom Header Image">
                                </a>
                            </h1>
                        {{else}}
                            {{#if page_type '===' 'default'}}
                                <h1 class="header-logo">
                                    {{> components/common/store-logo}}
                                </h1>
                            {{else}}
                                <div class="header-logo">
                                    {{> components/common/store-logo}}
                                </div>
                            {{/if}}
                        {{/if}}
                    </div>
                    <div class="item item--quickSearch">
                        <div class="themevale_search-custom" id="quickSearch2" aria-hidden="true" tabindex="-1" data-prevent-quick-search-close>
                            {{> components/themevale/header/quick-search-all}}
                        </div>
                    </div>
                </div>
                <div class="headerMiddle-item">
                    <div class="item item--lead-time">
                        <svg class="icon-truck"><use xlink:href="#icon-truck"></use></svg>
                        <span class="item--lead-time-text">
                            SHIPS IN 1 WEEK
                        </span>
                    </div>
                    <div class="item item--locator desktop-header-icons">
                        <a class="navUser-action" href="https://www.fabspeed.com/authorized-dealers-installers/"><svg class="icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg></a>
                    </div>

                    <div class="item item--account desktop-header-icons">
                        {{#if customer}}
                            <a class="navUser-action navUser-action--myaccount" href="{{urls.account.index}}">
                                <strong><svg class="icon-person"><use xlink:href="#icon-person"></use></svg> {{lang 'login.new_customer.myaccount'}}</strong>
                                <i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
                            </a>
                            <ul class="dropdown-menu" id="navPages-account-topbar">
                                <li class="dropdown-menu-item">
                                    <a href="{{urls.account.orders.all}}">{{lang 'account.nav.orders'}}</a>
                                </li>
                                {{#if settings.returns_enabled}}
                                    <li class="dropdown-menu-item">
                                        <a href="{{urls.account.returns}}">{{lang 'account.nav.returns'}}</a>
                                    </li>
                                {{/if}}
                                <li class="dropdown-menu-item">
                                    <a href="{{urls.account.inbox}}">{{lang 'account.mobile_nav.messages'}}</a>
                                </li>
                                <li class="dropdown-menu-item">
                                    <a href="{{urls.account.addresses}}">{{lang 'account.nav.addresses'}}</a>
                                </li>
                                {{#if settings.show_payment_methods}}
                                    <li class="dropdown-menu-item">
                                        <a href="{{urls.account.payment_methods.all}}">{{lang 'account.nav.payment_methods'}}</a>
                                    </li>
                                {{/if}}
                                <li class="dropdown-menu-item">
                                    <a href="{{urls.account.wishlists.all}}">{{lang 'account.mobile_nav.wishlists'}}</a>
                                </li>
                                <li class="dropdown-menu-item">
                                    <a href="{{urls.account.recent_items}}">{{lang 'account.nav.recently_viewed'}}</a>
                                </li>
                                <li class="dropdown-menu-item">
                                    <a href="{{urls.account.details}}">{{lang 'account.nav.settings'}}</a>
                                </li>
                                <li class="dropdown-menu-item">
                                    <a class="navUser-action" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
                                </li>
                            </ul>
                        {{else}}
                            <a class="navUser-action navUser-action-loginLabel" href="javascript:void(0)" data-login-form>
                                <strong><svg class="icon-person"><use xlink:href="#icon-person"></use></svg> {{lang 'login.new_customer.myaccount'}}</strong>
                                <i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
                            </a>
                            {{#if page_type '!==' 'login'}}
                                {{> components/themevale/header/login-form}}
                            {{/if}}
                        {{/if}}
                    </div>
                    <div class="item item--cart desktop-header-icons">
                        <div class="item-cart themevale_cart">
                            <a class="navUser-action" data-cart-preview data-options="align:right" href="{{urls.cart}}">
                                <svg class="icon icon--cart"><use xlink:href="#icon-cart"></use></svg>
                                <span class="countPill cart-quantity">{{#if cart.items}}{{cart.quantity}}{{else}}0{{/if}}</span>
                            </a>
                            <div class="dropdown-cart" id="cart-preview-dropdown" aria-hidden="true"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="themevale_header-bottom">
            {{> components/common/navigation-menu}}
        </div>
    </div>
    <div class="lead-time-text-mobile">
        <svg class="icon-truck"><use xlink:href="#icon-truck"></use></svg>
        <span class="item--lead-time-text">
            SHIPS IN 1 WEEK
        </span>
    </div>
    <div class="themevale_header-Mobile">
        {{> components/themevale/header/header-mobile}}
    </div>
</header>
