// =============================================================================
// TAGS (CSS)
// =============================================================================
//
// 1. Set to 0 so that the tags can be centred with an unknown width.
//
// -----------------------------------------------------------------------------

.tags {
    @include u-listBullets("none");
    font-size: 0; // 1
    margin-bottom: 0;
}

.tag {
    display: inline-block;
    vertical-align: top;
    font-size: $body-fontSize;
    margin-right: 10px;
    margin-bottom: 10px;
    a {
        font-size: 12px;
        color: #8c8c8c;
        line-height: 1;
        padding: 9px 15px;
        border-radius: 3px;
        display: inline-block;
        vertical-align: top;
        text-decoration: none;
        background-color: #f7f7f7;
        border: 1px solid #f7f7f7;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    }
}
