// =============================================================================
// BLOG
// =============================================================================


// Blog post
// -----------------------------------------------------------------------------

.blog {
    margin: auto;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 30px;
    padding-bottom: 30px;
    .tags {
        margin-top: 20px;
    }
    .addthis_toolbox {
        margin-top: 15px;
    }
    &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }
    @include breakpoint("small") {
        margin-bottom: 40px;
        padding-bottom: 40px;
        .tags {
            margin-top: 30px;
        }
    }
    @include breakpoint("medium") {
        .addthis_toolbox {
            margin-top: 0;
        }
    }
}

.blog-title {
    font-size: 15px;
    line-height: 1.5;
    margin: 0 0 7px 0;
    color: stencilColor('homepage_blog_title-color');
    font-family: $fontFamily-sans;
    font-weight: 700;
    a {
        color: inherit;
        text-decoration: none;
    }
    @include breakpoint("small") {
        font-size: 18px;
        margin: 0 0 10px 0;
    }
}

.blog-date,
.blog-author {
    margin: 0;
    color: stencilColor('homepage_blog_author-color');
    font-size: $body-fontSize;
}

.blog-author {
    margin-bottom: spacing("single") + spacing("base");
}

.blog-post {
    text-align: left;
    line-height: 22px;
    font-size: $body-fontSize;
    .button {
        text-align: center;
        margin-top: 20px;
        width: 145px;
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
        color: stencilColor('color-textHeading');
    }
    blockquote {
        font-size: 12px;
        line-height: 22px;
        padding: 10px 15px;
        margin-bottom: 2.25rem;
        background-color: #f7f7f7;
        border-radius: 3px;
        font-style: italic;
        q {
            &:before,
            &:after {
                content: none;
            }
        }
    }
    ul, ol {
        padding-left: 20px;
        li {
            line-height: 30px;
        }
    }
    @include breakpoint("medium") {
        blockquote {
            padding: 20px 25px;
        }
    }
}

.blog-thumbnail {
    margin: 0;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    > a {
        position: relative;
        vertical-align: top;
        display: inline-block;
        overflow: hidden;
    }
    @media (min-width: 1025px) {
        > a {
            &:before {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 2;
                content: "";
                width: 100%;
                height: 100%;
                opacity: 0;
                visibility: hidden;
                position: absolute;
                transition: all 0.5s ease;
                background-color: #000000;
            }
            img {
               transition: all 0.8s ease;
            }
            &:hover {
                &:before {
                    opacity: 0.3;
                    visibility: visible;
                }
                img {
                   transform: scale(1.15);
                }
            }
        }
    }
}

.blog-post-header {
    display: block;
    margin: 0 auto;
    text-align: left;
    + .blog-post-figure {
        margin-top: 20px;
    }
    .socialLinks {
        .icon {
            width: 18px;
            height: 18px;
            svg {
                fill: #989898;
            }
        }
        .socialLinks-item {
            margin: 0 10px 5px 0;
        }
    }
    .socialLinks .icon.icon--google_plusone {
        width: 18px !important;
    }
    @include breakpoint("small") {
        + .blog-post-figure {
            margin-top: 30px;
        }
    }
    @include breakpoint("medium") {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        .addthis_toolbox {
            min-width: 200px;
            text-align: right;
        }
    }
}

.blog-post-figure {
    display: block;
    margin: auto;
    text-align: center;
    + .blog-post-body {
        margin-top: 20px;
    }
    @include breakpoint("small") {
        + .blog-post-body {
            margin-top: 30px;
        }
    }
}

.blog-post-body {
    display: block;
    margin: 0 auto;
    text-align: left;
}

// Recent post
// -----------------------------------------------------------------------------

.recent-post {
    display: block;
    .blog-post-figure + .blog-post-body {
        margin-top: 15px;
    }
    .blog-header + .blog-post {
        margin-top: 15px;
    }
    .blog-post > a {
        display: none;
    }
    @include breakpoint("medium") {
        .blog-title {
            font-size: 18px;
        }
        .blog-post-figure + .blog-post-body {
            margin-top: 20px;
        }
        .blog-post > a {
            font-size: 13px;
            margin-top: 15px;
            padding: 0;
            width: auto;
            border: none;
            font-weight: 700;
            line-height: 22px;
            vertical-align: top;
            display: inline-block;
            text-transform: capitalize;
            background-color: transparent;
            color: stencilColor('color-textLink');
            > .icon {
                @include square(9px);
                fill: stencilColor('color-textLink');
                position: relative;
                top: -1px;
            }
            &:hover, &:focus, &:active {
                border: none;
                background-color: transparent;
                color: stencilColor('color-textLink--hover');
                > .icon {
                    fill: stencilColor('color-textLink--hover');
                }
            }
        }
    }
    @media (min-width: 1025px) {
        .blog-post > a {
            &:before {
                left: 0;
                bottom: 0;
                width: 0;
                content: "";
                height: 1px;
                position: absolute;
                background-color: stencilColor('color-textLink--hover');
                transition: all 0.3s ease;
            }
            &:hover:before {
                width: 100%;
            }
        }
    }
}

.recent_postCarousel {
    &.slick-slider {
        display: block;
        margin-left: -8px;
        margin-right: -8px;
        .items {
            display: inline-block;
            vertical-align: top;
            padding: 0 8px;
        }
    }
    &:not(.slick-slider) {
        overflow-y: hidden;
        overflow-x: auto;
        white-space: nowrap;
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-bottom: 2px;
        .items {
            display: inline-block;
            vertical-align: top;
            padding-right: 15px;
            width: 90%;
            white-space: normal;
            > a, img {
                width: 100%;
            }
        }
    }
    @media (min-width: 360px) {
        &:not(.slick-slider) .items {
            width: 80%;
        }
    }
    @media (min-width: 552px) {
        &:not(.slick-slider) .items {
            width: 40%;
        }
    }
    @media (min-width: 992px) {
        &:not(.slick-slider) .items {
            width: 33.3333333%;
        }
    }
    @media (min-width: 1025px) {
        &.slick-slider {
            margin-left: -15px;
            margin-right: -15px;
            .items {
                padding: 0 15px;
            }
        }
        &:not(.slick-slider) {
            overflow: hidden;
            margin-left: 0;
            margin-right: 0;
            padding-left: 30px;
            padding-bottom: 0px;
            .items {
                padding-right: 30px;
            }
        }
    }
}

.recent_post_list {
    font-size: 0;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-bottom: 2px;
    .items {
        font-size: $body-fontSize;
        display: inline-block;
        vertical-align: top;
        padding-right: 15px;
        width: 90%;
        white-space: normal;
        img {
            border-radius: 3px;
        }
        > a, img {
            width: 100%;
        }
    }
    @media (min-width: 360px) {
        .items {
            width: 80%;
        }
    }
    @media (min-width: 552px) {
        .items {
            width: 40%;
        }
    }
    @media (min-width: 992px) {
        .items {
            width: 33.3333333%;
        }
    }
    @media (min-width: 1025px) {
        padding-left: 0;
        padding-bottom: 0;
        white-space: normal;
        overflow: visible;
        .items {
            width: 50%;
            padding: 0 15px;
            margin-bottom: 30px;
            &:first-child {
                width: 100%;
                .blog-title {
                    font-size: 18px;
                }
                .blog-post {
                    display: block;
                }
            }
        }
        .recent-post {
            .blog-title {
                font-size: 12px;
            }
            .blog-post {
                display: none;
                br {
                    display: none;
                }
                > a {
                    margin-top: 0;
                    padding-left: 22px;
                    &:after {
                        left: 0;
                        font-weight: 400;
                        content: '...';
                        color: stencilColor('color-textLink');
                        position: absolute;
                    }
                }
            }
        }
    }
}
