// =============================================================================
// PRODUCT Sale Badges (CSS)
// =============================================================================

// BURST BADGE
// -----------------------------------------------------------------------------
.themevale_badges {
    top: 0px;
    right: 0px;
    position: absolute;
    z-index: zIndex("lower");
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.themevale_badge {
    color: #ffffff;
    height: 20px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 2px;
    margin-bottom: 5px;
    transition: all 0.5s ease;
    text-transform: capitalize;
    background-color: #383e47;
}

.sale-badge {
    background: stencilColor("product_sale_badges_background");
    color: stencilColor("product_sale_badges_color");
}

.soldOut-badge {
    background: stencilColor("product_soldOut_badges_background");
    color: stencilColor("product_soldOut_badges_color");
}

.new-badge {
    color: #ffffff;
    background-color: #6aa004;
}

.custom-badge {
    background: stencilColor("product_custom_badges_background");
    color: stencilColor("product_custom_badges_color");
}

.bestseller-badge {
    color: #ffffff;
    background-color: #e56d00;
}
