// =============================================================================
// PRODUCT VIEW (CSS)
// =============================================================================
// Product view layout
// -----------------------------------------------------------------------------

/*=========================================
=            www.themevale.com            =
=========================================*/


/*--------  1.0 Global style  -------*/

.themevale_productView {
    display: block;
    font-size: 0;
    padding-top: 0;
    margin-bottom: 30px;
    .themevale_productView-left,
    .themevale_productView-right {
        display: block;
        font-size: $body-fontSize;
    }
    .themevale_productView-right {
        margin-top: 30px;
    }
    .productView-nav-wrapper {
        position: relative;
    }
    .label-videos {
        position: absolute;
        z-index: 12;
        .video-link {
            width: 40px;
            height: 40px;
            position: absolute;
            left: 10px;
            bottom: 10px;
            padding: 0;
            .icon {
                width: 100%;
                height: 100%;
                pointer-events: none;
            }
        }
    }
    &.layout-2 {
        .productView-nav-wrapper {
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
        .productView-nav {
            &:not(.slick-slider) {
                overflow: hidden;
                white-space: nowrap;
                .productView-image {
                    display: inline-block;
                    vertical-align: top;
                    width: 100%;
                }
            }
        }
        .productView-for {
            margin: 10px 0 0 0;
            padding: 0 15px;
            .slick-arrow.slick-prev {
                left: -15px;
            }
            .slick-arrow.slick-next {
                right: -15px;
            }
            &:not(.slick-slider) {
                overflow: hidden;
                white-space: nowrap;
                .productView-thumbnail {
                    display: inline-block;
                    vertical-align: top;
                    width: 20%;
                }
            }
        }
        .hover-to-zoom {
            position: absolute;
            bottom: 0;
            left: 50%;
            background-color: transparent;
            transform: translateX(-50%);
            width: 100%;
        }
        .themevale_ask-an-experts {
            width: 100%;
            border-top: none;
        }
    }
    @include breakpoint("small") {
        margin-bottom: 50px;
        .themevale_productView-right {
            margin-top: 50px;
        }
    }
    @media (min-width: 768px) {
        .themevale_productView-left,
        .themevale_productView-right {
            vertical-align: top;
            display: inline-block;
        }
        .themevale_productView-left {
            width: 50%
        }
        .themevale_productView-right {
            padding-left: 30px;
            width: 50%;
            margin-top: 0;
        }
    }
    @media (min-width: 1025px) {
        .themevale_productView-left {
            width: 60%
        }
        .themevale_productView-right {
            width: 40%;
        }
        .label-videos {
            .video-link {
                width: 50px;
                height: 50px;
                left: 20px;
                bottom: 20px;
            }
        }
        &.layout-2 {
            .themevale_productView-left {
                width: 50%;
                padding-right: 25px;
            }
            .themevale_productView-right {
                width: 50%;
                padding-left: 25px;
            }
            .productView-details {
                .productView-options {
                    .form-action .button {
                        width: 270px;
                    }
                    .form-wishlist {
                        left: 290px;
                    }
                }
            }
            #themvale-fbt {
                padding-bottom: 0;
                border: none;
                .page-heading {
                    border-bottom: none;
                    padding-bottom: 0;
                    margin-bottom: 7px;
                }
                .themvale-fbt-product-wrapper {
                    padding: 30px 20px 30px 0;
                    border: 1px solid #e2e4e8;
                    border-radius: 5px;
                    .themvale-fbt-product-list {
                        width: 83%;
                        margin-left: 0;
                        margin-right: 0;
                        padding-left: 0;
                        padding-right: 0;
                    }
                    .themvale-fbt-total {
                        width: 17%;
                    }
                }
            }
        }
    }
}

.page-sidebar+.page-content {
    @media (min-width: 1025px) {
        .themevale_productView.layout-2 {
            .productView-details {
                .productView-options {
                    .form-action .button {
                        width: 206px;
                    }
                    .form-wishlist {
                        left: 226px;
                    }
                }
            }
        }
    }
}

.product-layout-3 {
    .productRelated .productCarousel,
    .productSimilar .productCarousel {
        .slick-arrow {
            top: -68px;
            padding: 0 7px;
            transform: none;
        }
        .slick-next {
            right: 8px;
        }
        .slick-prev {
            left: auto;
            right: 45px;
        }
    }
    @media (min-width: 1025px) {
        .themevale_productView.layout-2 {
            #themvale-fbt {
                .themvale-fbt-product-wrapper {
                    .themvale-fbt-product-list {
                        width: 78%;
                    }
                    .themvale-fbt-total {
                        width: 22%;
                    }
                }
            }
        }
    }
}

.themevale_productView-images {
    position: relative;
}


/*--------  2.0 Ask an Experts  -----*/

.themevale_ask-an-experts {
    width: 100%;
    display: block;
    font-size: $body-fontSize;
    padding-top: 30px;
    margin-top: 15px;
    border-top: 1px solid #eeeeee;
    .contact {
        width: 100%;
        display: table;
        .image-contact,
        .content-contact {
            display: table-cell;
            vertical-align: middle;
        }
        .image-contact {
            width: 65px;
            >img {
                border-radius: 50%;
                overflow: hidden;
            }
        }
        .content-contact {
            padding-left: 15px;
            .text {
                margin-bottom: 8px;
                text-transform: capitalize;
            }
            .link {
                display: block;
                .number-phone,
                a {
                    margin: 0;
                    display: inline-block;
                    vertical-align: bottom;
                }
                .number-phone {
                    font-weight: 700;
                    font-size: 18px;
                    display: block;
                    margin-bottom: 7px;
                    font-family: $fontFamily-sans;
                    color: stencilColor('color-textHeading');
                }
                a {
                    color: stencilColor('color-textLink--hover');
                    svg {
                        @include square(9px);
                        margin-left: 5px;
                        fill: stencilColor('color-textLink--hover');
                        margin-top: -2px;
                    }
                }
                @media (min-width: 360px) {
                    .number-phone {
                        margin-bottom: 0;
                        display: inline-block;
                        +a {
                            margin-left: 10px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
        +.services {
            margin-top: 20px;
            @include breakpoint("medium") {
                margin-top: 30px;
            }
        }
    }
    .services {
        margin: 0;
        padding-bottom: 15px;
        font-size: 0;
        display: block;
        list-style: none;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        .item {
            width: auto;
            vertical-align: top;
            display: inline-block;
            font-size: $body-fontSize;
            padding: 0 15px 0 0;
            &:last-child {
                padding-right: 0;
            }
        }
        .service-item {
            display: table;
            width: 100%;
            .icons,
            .content {
                display: table-cell;
                vertical-align: top;
            }
            .icons {
                width: 40px;
                text-align: center;
                .icon {
                    width: 40px;
                    height: 40px;
                    padding: 0 12px;
                    border-radius: 50%;
                    border: 1px solid #cdd0d7;
                }
                svg {
                    fill: #787878;
                    stroke: #787878;
                }
            }
            .content {
                padding-left: 15px;
                padding-right: 15px;
                .title {
                    font-size: 12px;
                    margin: 0;
                    font-weight: 700;
                    font-family: $fontFamily-sans;
                }
                .description {
                    margin: 0;
                }
            }
        }
        @media (min-width: 768px) {
            margin: 0;
            overflow: visible;
            white-space: normal;
            .item {
                padding: 0;
                width: 50%;
                margin-top: 20px;
                &:nth-child(-n + 2) {
                    margin-top: 0;
                }
            }
        }
        @media (min-width: 993px) {
            .service-item {
                .icons {
                    width: 50px;
                    .icon {
                        width: 50px;
                        height: 50px;
                        padding: 14px;
                    }
                }
            }
        }
    }
    @media (min-width: 1025px) {
        width: 70%;
        margin-left: auto;
        margin-right: 0;
    }
}


/*--------  4.0 Product images  -----*/

.productView-images {
    display: block;
    font-size: 0;
    margin-bottom: 0;
    position: relative;
}

.themevale_productViewImage {
    font-size: 0;
    .productView-thumbnails {
        margin: 0;
        display: block;
        color: #8c8c8c;
        margin-top: 10px;
        >li {
            width: auto;
            padding: 5px;
            font-size: $body-fontSize;
        }
        .productView-thumbnail-custom {
            vertical-align: top;
            display: inline-block;
            >a {
                color: inherit;
                display: block;
                padding: 10px;
                border-radius: 3px;
                border: 1px solid #e2e4e8;
                min-width: 70px;
                >.icon {
                    width: auto;
                    height: auto;
                    max-width: 25px;
                    max-height: 25px;
                    display: block;
                    margin: 0 auto;
                }
                >.text {
                    line-height: 1;
                    display: block;
                    margin-top: 8px;
                }
            }
        }
    }
    @media (min-width: 1025px) {
        display: flex;
        align-items: flex-start;
        .productView-thumbnails {
            order: -1;
            width: 32%;
            margin-top: 0;
            padding-right: 20px;
            vertical-align: top;
            display: inline-block;
            >li,
            .productView-thumbnail {
                width: 50%;
                vertical-align: top;
                display: inline-block;
            }
            .productView-thumbnail-custom {
                >a {
                    min-width: 80px;
                    >.icon {
                        max-width: 42px;
                        max-height: 42px;
                    }
                }
            }
        }
        >.productView-image {
            width: 68%;
            vertical-align: top;
            display: inline-block;
            img.zoomImg {
                pointer-events: none;
            }
        }
    }
}

.themevale_productViewImage-mobile {
    display: block;
    .productView-image-mobile {
        display: block;
        margin-bottom: 20px;
        .slick-dots {
            bottom: -10px;
        }
        .productView-img-container {
            max-width: 400px;
        }
        &:not(.slick-slider) {
            overflow: hidden;
            white-space: nowrap;
            .productView-image {
                display: inline-block;
                vertical-align: top;
                width: 100%;
            }
        }
    }
    .productView-thumbnails-mobile {
        margin: 10px 0 0 0;
        text-align: center;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        >li {
            width: auto;
            padding: 5px;
            font-size: $body-fontSize;
            vertical-align: top;
            display: inline-block;
        }
    }
    .productView-thumbnail-custom {
        >a {
            color: inherit;
            display: block;
            padding: 10px;
            border-radius: 3px;
            border: 1px solid #e2e4e8;
            min-width: 70px;
            >.icon {
                width: auto;
                height: auto;
                max-width: 25px;
                max-height: 25px;
                display: block;
                margin: 0 auto;
            }
            >.text {
                line-height: 1;
                display: block;
                margin-top: 8px;
            }
        }
    }
    @include breakpoint("small") {
        .productView-thumbnails-mobile {
            margin-top: 30px;
        }
        .productView-thumbnail-custom {
            >a {
                min-width: 80px;
                >.icon {
                    max-width: 42px;
                    max-height: 42px;
                }
            }
        }
    }
    @media (min-width: 1025px) {
        display: none;
    }
}

.hover-to-zoom {
    z-index: 10;
    padding: 10px;
    display: none;
    font-size: $body-fontSize;
    text-align: center;
    position: relative;
    color: #8c8c8c;
    background-color: #ffffff;
    .icon {
        fill: #8c8c8c;
        margin-right: 3px;
    }
    @media (min-width: 1025px) {
        display: block;
    }
}


/*--------  5.0 Product detail  -----*/

.productView-details {
    margin-bottom: 0px;
    .productView-product,
    .productView-options {
        padding: 0;
        border: none;
        margin-bottom: 25px;
    }
    .productView-brand {
        font-size: 13px;
        line-height: 1;
        margin-bottom: 12px;
        font-weight: 400;
        text-transform: capitalize;
        font-family: $fontFamily-sans;
        color: stencilColor('card-brand-color');
        a {
            color: inherit;
        }
    }
    .productView-title {
        font-size: 16px;
        line-height: 1.5;
        margin: 0 0 13px 0;
        font-weight: 700;
        font-family: $fontFamily-sans;
        color: stencilColor('card-title-color');
        @include breakpoint("small") {
            font-size: 18px;
        }
    }
    .productView-rating {
        margin: 0 0 25px 0;
        font-size: 0;
        .icon--ratingFull,
        .icon--ratingEmpty {
            margin-right: 2px;
        }
        .productView-reviewLink {
            font-size: $body-fontSize;
            margin-left: 12px;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            text-transform: capitalize;
            color: stencilColor('color-textBase');
            position: relative;
            top: 1px;
            a {
                color: stencilColor('color-textBase');
                &:hover {
                    color: stencilColor('color-textBase--hover');
                }
            }
            @media (min-width: 321px) {
                margin-left: 15px;
            }
        }
    }
    .countDown {
        margin: 0 0 25px 0;
        >p {
            margin-bottom: 0;
        }
    }
    .productView-price {
        font-size: 0;
        margin: 0;
        position: relative;
        .price-section {
            font-size: 18px;
            font-weight: 700;
            color: stencilColor('card-price-color');
            span[data-product-rrp-without-tax] {}
            &.price-section--withoutTax {
                color: stencilColor('card-sale-price-color');
                .price-now-label+.price--withoutTax {
                    color: stencilColor('card-price-color');
                }
            }
            &.rrp-price--withoutTax {
                color: stencilColor('card-resale-price-color');
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 5px;
            }
            &.non-sale-price--withoutTax {
                color: stencilColor('card-resale-price-color');
                margin-right: 8px;
                display: inline-block;
                vertical-align: bottom;
                +.price-section--withoutTax {
                    display: inline-block;
                    vertical-align: bottom;
                }
            }
            &.price-none {
                margin-right: 0;
                +.price-section--withoutTax {
                    color: stencilColor('card-price-color');
                }
            }
        }
        .price-section--saving {
            color: stencilColor('card-price-color');
            margin-top: 8px;
            font-size: 12px;
            font-weight: 400;
            font-style: italic;
        }
        .sold-product {
            display: block;
            top: -1px;
            right: 0;
            margin-top: 0;
            position: absolute;
            @media (min-width: 1025px) {
                top: -1px;
                right: 0;
                margin-top: 0;
                position: absolute;
            }
        }
    }
    .productView-info {
        margin-top: 0;
        > :first-child {
            margin-top: 0;
        }
        .productView-info-name,
        .productView-info-value {
            float: left;
            font-size: 12px;
        }
        .productView-info-name {
            clear: both;
            min-width: 110px;
            font-weight: 700;
            margin-bottom: 10px;
            color: stencilColor('color-textHeading');
            
            &.HP,
            &.TQ,
            &.WT {
                font-size: 18px;
                color: #ffffff;
                background-color: #898989;
                padding: 5px 10px;
                margin: 0;
                margin-right: -1px;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }
        }
        .productView-info-value {
            margin-bottom: 0;
            color: #505050;
            
            &.HP,
            &.TQ,
            &.WT {
                font-size: 18px;
                font-weight: bold;
                color: #fced03;
                text-align: right;
                width: 175px;
                background-color: #898989;
                padding: 5px 10px;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                margin: 0;
                margin-bottom: 5px;
            }
        }
        .productView-info-bulkPricing {
            float: left;
            width: 100%;
            font-style: italic;
            font-weight: 700;
        }
    }
    .edd {
        display: flex;
        font-size: 20px;
        color: white;
        font-weight: bold;
        background-color: #c10011;
        border-radius: 25px;
        justify-content: center;
        margin-bottom: 12px;
    }
    .edd #calculated-edd {
        margin-left: 10px;
    }
    .productView-info .productView-info-name.edd,
    .productView-info .productView-info-value.edd {
    display: none;
    }
    .edd2 {
        display: flex;
        font-size: 20px;
        color: black;
        font-weight: bold;
        background-color: #00A8E1;
        border-radius: 25px;
        justify-content: center;
        padding: 10px;
        text-align: center;
        margin-bottom: 5px;
        
    }
    .nfs {
        display: flex;
        font-size:12px;
        color: blue;
        font-weight: bold;
        border-radius: 25px;
        justify-content: left;
        padding: 10px;
        text-align: center;
        margin-bottom: 5px;
    }
    
    .productView-info .productView-info-name.edd2,
    .productView-info .productView-info-value.edd2,
    .productView-info .productView-info-name.nfs,
    .productView-info .productView-info-value.nfs,
    .productView-info .productView-info-name.nsle, 
    .productView-info .productView-info-value.nsle {
        display: none !important; /* Hide the original edd2 field */
    }
    
    @keyframes rgbEffect {
        0% { color: red; }
        25% { color: yellow; }
        50% { color: green; }
        75% { color: blue; }
        100% { color: red; }
      }
      .productView-info-value.rgb {
        font-size: 18px; 
        animation: rgbEffect 3s infinite; 
      }
    
    .productView-options {
        text-align: left;
        position: relative;
        margin-bottom: 15px;
        .form-field {
            margin-bottom: 15px;
        }
        .form-label--alternate {
            font-weight: 700;
            color: stencilColor('color-textHeading');
            >span[data-product-stock] {
                font-weight: 400;
            }
            >small {
                top: -1.5px;
                color: #8c8c8c;
                font-size: 11px;
                font-weight: 400;
                position: relative;
                font-style: italic;
            }
        }
        .form-select {
            width: 100%;
            max-width: none;
        }
        .alertBox {
            padding: 0;
            margin: 30px 0 0 0;
            background-color: transparent;
            .alertBox-icon {
                padding-right: 5px;
                svg {
                    fill: #f04723;
                }
            }
            .alertBox-message {
                font-size: 13px;
                color: #f04723;
                font-style: italic;
            }
        }
        .alertBox--error {
            opacity: 0.65;
            width: 100%;
            color: #fff;
            text-align: center;
            padding: 10px 25px;
            pointer-events: none;
            background-color: #505050;
            border: 1px solid #505050;
            .alertBox-icon {
                display: none;
            }
            .alertBox-message {
                display: inline-block;
                vertical-align: top;
                color: #fff;
                text-align: center;
                font-size: 12px;
                font-weight: 700;
                line-height: 20px;
                margin-bottom: 0;
                font-style: normal;
                text-transform: uppercase;
                transition: all 0.3s ease;
            }
            @media (min-width: 993px) {
                max-width: 200px;
            }
        }
        .form-action {
            padding: 0;
            width: auto;
            float: none;
            margin-top: 30px;
            display: block;
            .button {
                margin-bottom: 0;
                display: block;
                width: 100%;
                text-transform: uppercase;
                &[disabled],
                &#form-action-addToCart {
                    padding: 15px 35px 13px 35px;
                }
            }
            @media (min-width: 993px) {
                .button {
                    width: 225px;
                }
            }
            @media (min-width: 1025px) {
                .button {
                    width: 210px;
                }
            }
        }
        .form-wishlist {
            left: auto;
            position: relative;
            margin-bottom: 0;
            margin-top: 20px;
            z-index: 10;
            display: block;
            .button {
                margin-bottom: 0;
                width: 100%;
                padding: 15px 35px 13px 35px;
                .icon {
                    @include square(20px);
                }
            }
            @media (min-width: 993px) {
                bottom: 0;
                margin: 0;
                left: 242px;
                position: absolute;
                .button {
                    width: 225px;
                }
            }
            @media (min-width: 1025px) {
                bottom: 0;
                margin: 0;
                left: 228px;
                position: absolute;
                .button {
                    width: 210px;
                }
            }
        }
        #form-action-addToCart {
            &[disabled] {
                color: white;
                cursor: not-allowed;
                background-color: #cccccc;
                border-color: rgba(0, 0, 255, 0);
            }
        }
    }
    .viewing-product {
        margin: 0 0 15px 0;
    }
    .themevale_securityImage {
        margin-top: 15px;
    }
}

.countDown {
    display: block;
    >p {
        margin-bottom: 0;
    }
    .block-time {
        padding: 9px 6px;
        border-radius: 3px;
        background-color: stencilColor('product_countdown-background');
        margin-right: 5px;
        text-align: center;
        display: inline-block;
        min-width: 42px;
        &:last-of-type {
            margin-right: 0;
        }
        .num {
            font-size: 16px;
            line-height: 1;
            color: stencilColor('product_countdown-color');
            font-weight: 700;
            display: inline-block;
            vertical-align: top;
        }
        .block-label {
            margin: 0;
            line-height: 1;
            display: block;
            font-size: 12px;
            opacity: 0.5;
            margin-top: -2px;
            color: stencilColor('product_countdown-color');
        }
    }
}

.viewing-product {
    .icon {
        margin-right: 5px;
        margin-top: -2px;
    }
}

.sold-product {
    font-size: 12px;
    font-weight: 700;
    color: stencilColor('product_soldProduct_textColor');
    display: none;
    background-size: 14px;
    position: relative;
    >.icon,
    >span {
        display: inline-block;
        vertical-align: middle;
    }
    .icon {
        @include square(20px);
        fill: stencilColor('product_soldProduct_textColor');
        ;
        stroke: stencilColor('product_soldProduct_textColor');
        ;
        margin-right: 3px;
    }
}

#playButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Rajdhani', Arial, Helvetica, sans-serif;
}

#playButton:hover {
    background-color: #0056b3;
}

/*--------  6.0 Product options  ----*/

.form-field--stock {
    .form-label {
        margin-bottom: 0;
    }
}

.form-field--increments {
    .form-increment {
        display: inline-block;
        .form-input--incrementTotal {
            width: 70px;
        }
    }
}


/*--------  7.0 product des...  -----*/

.themevale_productDescription {
    width: 100%;
    display: block;
    font-size: $body-fontSize;
    .toggle-title {
        margin-bottom: 15px;
    }
    .page-heading {
        margin: 0;
        font-size: 15px;
        line-height: 24px;
        display: inline-block;
        font-family: $fontFamily-headings;
        color: stencilColor('color-textHeading');
    }
    .productView-description {
        width: 100%;
        display: block;
        .tabs {
            display: none;
        }
        .tab-content {
            padding: 15px 0 0 0;
            display: block;
            border-top: 1px solid #e2e4e8;
        }
        .toggle-title {
            margin-bottom: 0;
            padding-bottom: 13px;
            display: block;
            font-family: $fontFamily-headings;
            color: stencilColor('color-textHeading');
            .toggleLink {
                float: none;
                display: inline-block;
                width: 100%;
            }
            .icon {
                fill: stencilColor('color-textHeading');
            }
        }
        .toggle-content {
            padding: 10px 0;
        }
    }
    @include breakpoint("small") {
        .page-heading {
            font-size: 18px;
        }
        .toggle-title {
            margin-bottom: 30px;
        }
    }
    @media (min-width: 1025px) {
        font-size: 0;
        .page-heading {
            display: block;
            font-size: 20px;
            padding-bottom: 10px;
            border-bottom: 1px solid #e2e4e8;
        }
        .productRelated {
            font-size: 12px;
            display: inline-block;
            vertical-align: top;
            width: auto;
            border-top: 0;
            margin-top: 0;
            padding-top: 0;
            margin-bottom: 0;
            padding-left: 30px;
        }
        .productView-description {
            display: inline-block;
            vertical-align: top;
            width: 60%;
            font-size: 12px;
            .tabs {
                display: block;
            }
            .tab-content {
                padding: 0;
                display: none;
                border-top: none;
                &.is-active {
                    display: block;
                }
            }
            .toggle-title {
                display: none;
                padding-bottom: 35px;
            }
            .toggle-content {
                padding: 0;
                display: block !important;
                h6 {
                    font-size: 16px;
                }
            }
        }
    }
    @media (max-width: 1024px) {
        .productRelated {
            padding-bottom: 30px;
            .page-heading {
                font-size: 24px;
                line-height: 1.3;
            }
        }
    }
}

.themevale_productDescription-2 {
    display: block;
    >.item {
        display: block;
        +.item {
            margin-top: 30px;
        }
    }
    .productReviews,
    .productRelated,
    .productSimilar {
        width: 100%;
        padding: 0;
        margin-top: 0;
        border-top: none;
    }
    .productRelated+.productSimilar {
        margin-top: 50px;
    }
    .productView-description {
        width: 100%;
        .toggle-title {
            display: block;
            .toggleLink {
                display: inline-block;
            }
        }
    }
    .page-heading {
        margin: 0;
        font-size: 16px;
        line-height: 24px;
        display: block;
    }
    .tabs-vertical .toggle-title {
        font-size: 16px;
        line-height: 24px;
    }
    @include breakpoint("small") {
        .page-heading {
            font-size: 18px;
        }
    }
    @media (min-width: 768px) {
        display: flex;
        width: auto;
        margin-left: -15px;
        margin-right: -15px;
        flex-direction: row-reverse;
        >.item {
            width: 50%;
            padding: 0 15px;
            +.item {
                margin-top: 0;
            }
        }
        .page-heading {
            padding-bottom: 10px;
            border-bottom: 1px solid #eeeeee;
        }
    }
    @media (min-width: 1025px) {
        .page-heading {
            display: block;
            font-size: 20px;
            padding-bottom: 16px;
            border-bottom: 1px solid #eeeeee;
        }
        .productRelated+.productSimilar {
            margin-top: 70px;
        }
        .tabs-vertical {
            .toggle-title {
                padding-top: 18px;
                padding-bottom: 16px;
            }
            &:first-child .toggle-title {
                padding-top: 0;
            }
            .toggle-content {
                h6 {
                    font-size: 16px;
                }
            }
        }
    }
    @media (max-width: 551px) {
        .productSimilar,
        .productRelated {
            .page-heading {
                font-size: 24px;
                line-height: 1.3;
            }
        }
    }
}

.themevale_productDescription-3 {
    width: 100%;
    display: block;
    font-size: $body-fontSize;
    .toggle-title {
        margin-bottom: 15px;
    }
    .page-heading {
        margin: 0;
        font-size: 15px;
        line-height: 24px;
        display: inline-block;
        font-family: $fontFamily-headings;
        color: stencilColor('color-textHeading');
    }
    .productView-description {
        width: 100%;
        display: block;
        .tabs {
            display: none;
        }
        .tab-content {
            padding: 15px 0 0 0;
            display: block;
            border-top: 1px solid #eeeeee;
        }
        .toggle-title {
            margin-bottom: 0;
            padding-bottom: 13px;
            display: block;
            font-family: $fontFamily-headings;
            color: stencilColor('color-textHeading');
            .toggleLink {
                float: none;
                display: inline-block;
                width: 100%;
            }
            .icon {
                fill: stencilColor('color-textHeading');
            }
        }
        .toggle-content {
            padding: 10px 0;
        }
    }
    +.productRelated {
        margin-bottom: 30px;
        border-top: none !important;
        +.productSimilar {
            border-top: none !important;
        }
    }
    @include breakpoint("small") {
        .page-heading {
            font-size: 18px;
        }
        .toggle-title {
            margin-bottom: 30px;
        }
    }
    @media (min-width: 1025px) {
        font-size: 0;
        .productView-description {
            display: inline-block;
            vertical-align: top;
            font-size: 12px;
            .tabs {
                display: block;
            }
            .tab-content {
                padding: 0;
                display: none;
                border-top: none;
                &.is-active {
                    display: block;
                }
            }
            .toggle-title {
                display: none;
                padding-bottom: 35px;
            }
            .toggle-content {
                padding: 0;
                display: block !important;
                h6 {
                    font-size: 16px;
                }
            }
        }
        +.productRelated {
            margin-bottom: 50px;
            .page-heading {
                display: block;
                font-size: 20px;
                padding-bottom: 10px;
                border-bottom: 1px solid #eeeeee;
            }
            +.productSimilar {
                .page-heading {
                    display: block;
                    font-size: 20px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #eeeeee;
                }
            }
        }
    }
}

.productView-description {
    .description-slider,
    .description-slider-2 {
        font-size: 0;
        list-style: none;
        margin-left: 0px !important;
        margin-right: 0px;
        margin-top: 30px;
        margin-bottom: 20px;
        white-space: nowrap;
        overflow: hidden;
        list-style: none;
        >li {
            width: 33.333333%;
            &:before {
                content: none;
            }
        }
        li {
            display: inline-block;
            vertical-align: top;
            padding: 0 8px;
        }
        .slick-dots {
            bottom: auto;
            margin-top: 10px;
            position: relative;
            li {
                padding: 0;
            }
        }
        img {
            border-radius: 3px;
        }
    }
    blockquote {
        font-size: 12px;
        line-height: 22px;
        padding: 10px 15px;
        margin-bottom: 2.25rem;
        background-color: #f7f7f7;
        border-radius: 3px;
        font-style: italic;
        q {
            &:before,
            &:after {
                content: none;
            }
        }
        @include breakpoint("medium") {
            padding: 20px 25px;
        }
    }
}

.productReviews:not(.tabs-vertical),
.productRelated,
.productSimilar {
    display: block;
    padding-top: 15px;
    margin-bottom: 0;
    border-top: 1px solid #e2e4e8;
    .toggleLink-text {
        svg {
            fill: #323232;
        }
    }
    .toggle-title {
        .number-review,
        .write-review {
            @media (min-width: 767px) {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
    .toggle-content {
        padding: 10px 0;
    }
    &.toggle:last-of-type {
        margin-bottom: 0;
    }
    .slick-slide .productCarousel-slide {
        width: 100%;
    }
    @media (min-width: 1025px) {
        margin-top: 30px;
        padding-top: 30px;
        .toggle-content {
            padding: 0;
        }
    }
}

.productReviews:not(.tabs-vertical) {
    .toggleLink>.icon {
        float: none;
        height: 20px;
        position: relative;
        top: -2px;
    }
}

.productReviews {
    .number-review,
    .write-review {
        margin: 15px;
        padding: 4px 15px;
        border-radius: 12px;
        background-color: #f7f7f7;
    }
    .write-review {
        color: #ffffff;
        background-color: stencilColor('color-textLink--hover');
    }
    .toggle-title .toggleLink {
        display: none;
        color: stencilColor('color-textLink');
        .toggleLink-text {
            color: stencilColor('color-textLink');
            line-height: 20px;
            border-bottom: 1px solid transparent;
            transition: all 0.3s ease;
        }
        &:hover {
            color: stencilColor('color-textLink--hover');
            .toggleLink-text {
                color: stencilColor('color-textLink--hover');
                border-bottom: 1px solid stencilColor('color-textLink--hover');
            }
            svg {
                fill: stencilColor('color-textLink--hover');
            }
        }
    }
    .page-heading {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
    }
    @media (max-width: 1024px) {
        &:not(.tabs-vertical) {
            .toggle-content {
                display: block !important;
            }
        }
    }
    @media (min-width: 1025px) {
        .toggle-title .toggleLink {
            display: block;
        }
    }
}

.productRelated {
    @media (min-width: 1025px) {
        .toggleLink {
            display: none;
        }
    }
}


/*--------  8.0 Galery popup  -------*/

.vgallery_popup {
    .content_slide {
        font-size: 0;
        display: block;
        .box1,
        .box2 {
            position: relative;
            display: inline-block;
            vertical-align: top;
        }
        .box1 {
            width: 62%;
            overflow: hidden;
            max-height: 540px;
        }
        .box2 {
            width: 38%;
            padding-left: 50px;
        }
    }
    .btn-arrow {
        top: 50%;
        z-index: 2;
        width: 50px;
        height: 50px;
        cursor: pointer;
        position: absolute;
        transform: translateY(-50%);
        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
        }
        &.btn-prev {
            left: 0;
            &:before {
                background: rgba(255, 255, 255, 0.5) url(//cdn3.bigcommerce.com/s-q7337/templates/__custom/images/vgallery.png?t=1501514855);
                background-position: 15px;
            }
        }
        &.btn-next {
            right: 0;
            &:before {
                background: rgba(255, 255, 255, 0.5) url(//cdn3.bigcommerce.com/s-q7337/templates/__custom/images/vgallery.png?t=1501514855);
                background-position: -20px;
            }
        }
    }
    .galleryView {
        width: 100%;
        text-align: center;
        &:after {
            content: '';
            display: block;
            height: 0;
            width: 100%;
            padding-bottom: 75%;
        }
        img:not([role="presentation"]) {
            top: 0;
            left: 50%;
            height: 100%;
            position: absolute;
            transform: translateX(-50%);
        }
        >iframe {
            top: 0;
            left: 50%;
            right: 0;
            bottom: 0;
            min-height: 100%;
            transform: translateX(-50%);
            position: absolute;
        }
    }
    .gallery-thumbnail {
        h2 {
            font-size: 16px;
            margin: 0 0 5px 0;
            text-transform: uppercase;
        }
        ul {
            margin: 0 -5px;
            font-size: 0;
            text-align: left;
            li {
                position: relative;
                font-size: 12px;
                width: 25%;
                display: inline-block;
                vertical-align: top;
                padding: 5px;
            }
            .thumbbsd {
                display: block;
                cursor: pointer;
                text-align: center;
                overflow: hidden;
                position: relative;
                @include lazy-loaded-padding('productview_thumb_size');
                img {
                    top: 50%;
                    left: 50%;
                    width: auto;
                    height: 100%;
                    max-width: none;
                    position: absolute;
                    transform: translate(-50%, -50%);
                }
                &.thumb-video {
                    border-radius: 3px;
                    overflow: hidden;
                    &:before {
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        content: "";
                        z-index: 2;
                        border-radius: 3px;
                        position: absolute;
                        background-color: rgba(255, 255, 255, 0.5);
                        border: 3px solid stencilColor('card-title-color');
                    }
                }
            }
        }
        +.gallery-thumbnail {
            margin-top: 30px;
        }
    }
    .gallery-thumbnail-1 h2:before {
        content: 'Product Image';
    }
    .gallery-thumbnail-2 h2:before {
        content: 'Product Video';
    }
}


/*=====  End of www.themevale.com  ======*/
