.bem-section {
    margin-bottom: 1.5rem;
}

.bem-section-label {
    font-weight: 600;
    font-size: 1.2rem;
    color: $fabspeed-red;
}

.bem-download {
    display: block;
    width: 200px;
    margin-top: .75rem;
}