.coming-soon {
    background-color: #000;
    padding: 3rem 0;
}

.coming-soon__list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: 0;
}

.coming-soon__item {
    margin-right: 3rem;
    &:last-child {
        margin: 0;
    }
}

.coming-soon__title {
    color: #fff;
    text-align: center;
    margin: 0 0 2rem;
}

.coming-soon__item-title {
    color: #fff;
    text-align: center;
    margin: 1rem 0 0;
}

.coming-soon_title-highlight {
    color: #f11212;
}