html {
    scroll-behavior: smooth;
}

iframe {
  max-width: 100%;
}

.wait-to-show {
  display: none;
  /* keeps layout space */
}

.wait-to-show.is-ready {
  display: block;
}

.themevale_heroCarousel {
  position: relative;
}

.aus-content {
  display: none;
}

.is-au .aus-content {
  display: block;
}

.is-au .wait-to-show {
  display: none;
}

.heroCarousel-wrapper {
  aspect-ratio: 1865/582.8;
}

img[alt="ASV Seal"] {
  position: absolute;
  bottom: 0;
  height: 70px;
  right: 100px;
  width: auto;
  bottom: 10px;
}

@media (min-width: 993px) {
  img[alt="ASV Seal"] {
    bottom: 5px;
  }
}

.line-break-mobile {
  @media (min-width: 551px) {
    display: none;
  }
}

.fabspeed-red {
  color: $fabspeed-red;
}