.aus-logo {
    display: none;
}

.is-au .themevale_header-middle {
    .header-logo {
        display: none;
    }
    .header-logo.aus-logo,
    .aus-logo .header-logo {
        display: block;
        max-width: 200px;        
    }
    background: #050485!important;
    .dropdown-menu-item a {
        color: #333;
    }
    a,
    p {
        color: #fff;
    }
    svg,
    .st1 {
        fill: #fff;
        stroke: #fff;
    }
    .themevale_search-custom .form-field {
        background-color: #fff!important;
        border: 0;
    }
}

.is-au .themevale_header-Mobile {
    background-color: #050485;
    .icon {
        fill: white;
    }
}

.is-au .navUser-item2 {
    background-color: #050485;
    margin-top: -1px;
}

.is-au #leadtime2 {
    background: none;
    color: #fff;
    text-shadow: none;
}