// .heroCarousel-image-wrapper .heroCarousel-image {
//     height: 400px;
//     width: auto;
//     position: absolute;
//     top: 0;
//     left: 50%;
//     transform: translateX(-50%);
// }

// .heroCarousel-image-wrapper {
//     position: relative;
//     height: 400px!important;
// }

.brand-title-wrapper,
.brandsImage-slider {
    display: none;
    @media (min-width: 769px) {
      display: block;
    }
}

.brand-title-mobile {
    margin: 0;
    color: #fff;
    @media (min-width: 769px) {
      display: none;
    }
}

.brand-disclaimer {
    @media (max-width: 768px) {
        margin: 0;
    }
}