// .heroCarousel-image-wrapper .heroCarousel-image {
//     height: 400px;
//     width: auto;
//     position: absolute;
//     top: 0;
//     left: 50%;
//     transform: translateX(-50%);
// }

// .heroCarousel-image-wrapper {
//     position: relative;
//     height: 400px!important;
// }

.brand-title-wrapper,
.brandsImage-slider {
    display: none;
    @media (min-width: 769px) {
      display: block;
    }
}

.brand-title-mobile {
    margin: 0;
    color: #fff;
    @media (min-width: 769px) {
      display: none;
    }
}

.brand-disclaimer {
    @media (max-width: 768px) {
        margin: 0;
    }
}

#reset {
    @media (max-width: 768px) {
      display: none;
    }
}

.heroCarousel {
    aspect-ratio: 16/5;
}

.heroCarousel-desktop-image {
    display: none;
    @media (min-width: 551px) {
      display: block;
    }
}

.heroCarousel-mobile-image {
    @media (min-width: 551px) {
      display: none;
    }
}

.lead-time-link {
    position: relative;
    flex-grow: 1;
    height: 15px;
    display: none;
}

.lead-time-link.mobile {
    display: block;
}

.lead-time-text {
    opacity: 0;
    transition: .75s all ease;
    transform: translate(-50%, 15px);
    position: absolute;
    top: 2px;
    left: 50%;
    font-weight: 600;
}

.lead-time-link.mobile .lead-time-text {
    top: -7px;
}

.lead-time-text.show {
    opacity: 1;
    transform: translate(-50%, 0);
    position: absolute;
}

.lead-time-text.exit {
    transform: translate(-50%, -15px);
}

@media (min-width: 1025px) {
  .lead-time-link {
    display: block;
  }

  .lead-time-link.mobile {
    display: none;
  }
}