.productView-info {
    margin-bottom: 12px;
}

#afffirm-promo-box {
    max-height: 30px;
}

.productView-details .productView-product {
    margin-bottom: 0;
}

.playButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: "Rajdhani", Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    width: 100%;

    @media (min-width: 551px) {
        width: 285px;
    }
}

.productView-details .productView-info .productView-info-name.HP,
.productView-details .productView-info .productView-info-name.TQ,
.productView-details .productView-info .productView-info-name.WT,
.productView-details .productView-info .productView-info-value.HP,
.productView-details .productView-info .productView-info-value.TQ,
.productView-details .productView-info .productView-info-value.WT {
    @media (max-width: 552px) {
        width: 50%;
    }
}

.product-specs {
    @media (max-width: 552px) {
        width: 70%;
        margin: 0 auto;
    }
}

.productView-details .edd2,
.productView-details .card-shipping-date {
    width: 70%;
    margin: 0 auto;
    @media (min-width: 551px) {
      width: 285px;
      margin: 0;
    }
}

.productView-description {
    margin-bottom: 0;
}

.sound-button.desktop {
    display: none !important;
    @media (min-width: 801px) {
        display: block !important;
    }
}

.sound-button.mobile {
    @media (min-width: 801px) {
        display: none !important;
    }
}

#form-action-addToCart {
    transition: 0s width;
}

#form-action-addToCart.sticky {
    @media (max-width: 767px) {
        width: 50%;
        position: fixed;
        bottom: 17px;
        z-index: 999;
        box-shadow: 1px 1px 5px 1px #333;
    }
    @media (max-width: 551px) {
        width: 70%;
    }
}