<!--<div class="heroCarousel-content{{#unless show_background}} heroCarousel-content--empty{{/unless}}">-->
<!--    <a href="{{url}}">-->
<!--    <h1 class="heroCarousel-title animated" style="filter:drop-shadow(2px 2px 2px black) !imporant;">{{{heading}}}</h1>-->
<!--    <h2 class="heroCarousel-title animated" style="filter:drop-shadow(2px 2px 2px black) !imporant;">{{{text}}}</h1>-->
<!--    {{#if button_text}}-->
<!--        <a class="heroCarousel-action button button--large animated" href="{{url}}">{{button_text}}</a>-->
<!--    {{/if}}-->
<!--    </a>-->
<!--</div>-->
