<div class="fabspeed-homepage">

    <!-- HERO CAROUSEL -->
    <section class="fs-hero-carousel">
        <div class="fs-hero-slider" data-slick='{
            "dots": false,
            "arrows": false,
            "mobileFirst": true,
            "slidesToShow": 1,
            "slidesToScroll": 1,
            "adaptiveHeight": true,
            "lazyLoad": "anticipated",
            "autoplaySpeed": 7000,
            "autoplay": true,
            "fade": true,
            "responsive": [
                {
                    "breakpoint": 1100,
                    "settings": {
                        "dots": {{dots}},
                        "arrows": {{arrows}}
                    }
                }
            ]
        }'>

            {{#each carousel.slides}}

                <div class="fs-hero-slide">

                    <!-- Desktop image -->
                    <div class="fs-hero-image fs-hero-image--desktop">
                        {{> components/common/responsive-img
                            image=stencil_image
                            class="fs-hero-img"
                            fallback_size='1920w'
                            lazyload='disabled'
                        }}
                    </div>

                    <!-- Mobile image -->
                    <div class="fs-hero-image fs-hero-image--mobile">

                        {{#if @index '==' '0'}}

                            <img
                                src="https://store-fh9wsjv2.mybigcommerce.com/content/carousel-images/carousel-image-1-mobile.jpg"
                                class="fs-hero-img"
                                alt="{{alt_text}}"
                            >

                        {{else if @index '==' '1'}}

                            <img
                                src="https://cdn11.bigcommerce.com/s-fh9wsjv2/images/stencil/original/image-manager/992.2-turbo-mobile-banner1.jpg?t=1788965358"
                                class="fs-hero-img"
                                alt="{{alt_text}}"
                            >

                        {{else if @index '==' '2'}}

                            <img
                                src="https://cdn11.bigcommerce.com/s-fh9wsjv2/images/stencil/original/image-manager/corvette-zr1-mobile-banner.jpg?t=1788966549"
                                class="fs-hero-img"
                                alt="{{alt_text}}"
                            >

                        {{else}}

                            {{> components/common/responsive-img
                                image=stencil_image
                                class="fs-hero-img"
                                fallback_size='1280w'
                                lazyload='lazyload'
                            }}

                        {{/if}}

                    </div>


                    <!-- HERO CONTENT -->
                    {{#if heading}}
                        <div class="fs-hero-content">

                            <h1 class="fs-hero-heading">{{heading}}</h1>

                            {{#if text}}
                                <div class="fs-hero-description">
                                    {{{text}}}
                                </div>
                            {{/if}}

                        </div>
                    {{/if}}

                </div>

            {{/each}}

        </div>
                            
        {{> components/custom/vehicle-selector}}
    </section>

</div>