<!--300x300 images-->
<div class="themevale_featuredBrands themevale_section background-gray padding-top-50 padding-bottom-50">
    <div class="container"> 
        <div class="page-heading-wrapper brand-title-wrapper">
            <h2 class="page-heading brand-title">SHOP YOUR BRAND</h2>
            <!--<h2 class="page-heading">{{lang 'brand.featured_brands'}}</h2>-->
            <!--<a class="page-heading-link" href="/brands/">{{lang 'brand.view_brands'}}</a>-->
        </div>
        
        <div class="vehicle-selector">
            <h2 class="page-heading brand-title-mobile">SHOP YOUR BRAND</h2>
            <div class="selector">
                <select id="make">
                    <option value="">Select Make</option>
                    <option value="porsche">Porsche</option>
                    <option value="ferrari">Ferrari</option>
                    <option value="lamborghini">Lamborghini</option>
                    <option value="mclaren">McLaren</option>
                    <option value="c8-corvette">C8 Corvette</option>
                    <option value="bmw">BMW</option>
                    <option value="audi">Audi</option>
                    <option value="aston-martin">Aston Martin</option>
                    <option value="bentley">Bentley</option>
                    <option value="mercedes-benz">Mercedes-Benz</option>
                    <option value="maserati">Maserati</option>
                </select>
            </div>
            <div class="selector">
                <select id="model">
                    <option value="">Select Model</option>
                    <option value="911-carrera">911 Carrera</option>
                    <option value="gt3-gt3rs">GT3 / GT3RS</option>
                    <option value="911-turbo">911 Turbo</option>
                    <option value="gt2-gt2rs">GT2 / GT2RS</option>
                    <option value="911-gt3-cup">911 GT3 Cup</option>
                    <option value="boxster-cayman">Boxster / Cayman</option>
                    <option value="macan">Macan</option>
                    <option value="cayenne">Cayenne</option>
                    <option value="panamera">Panamera</option>
                    <option value="carrera-gt">Carrera GT</option>
                    <option value="speedster">Speedster</option>
                    <option value="944-turbo">944 Turbo</option>
                    <option value="mid-engine">Mid-Engine</option>
                    <option value="front-engine">Front-Engine</option>
                    <option value="aventador">Aventador</option>
                    <option value="huracan">Huracan</option>
                    <option value="murcielago">Murcielago</option>
                    <option value="revuelto">Revuelto</option>
                    <option value="temerario">Temerario</option>
                    <option value="gallardo">Gallardo</option>
                    <option value="urus">Urus</option>
                    <option value="diablo">Diablo</option>
                    <option value="lp550-2-lp560-lp570">LP550-2 / LP560 / LP570</option>
                    <option value="750s">750S</option>
                    <option value="artura">Artura</option>
                    <option value="gt-gts">GT / GTS</option>
                    <option value="765lt">765 LT</option>
                    <option value="720s">720 S</option>
                    <option value="675lt">675 LT</option>
                    <option value="650s">650 S</option>
                    <option value="600lt">600 LT</option>
                    <option value="570s-570gt-540c">570S / 570GT / 540C</option>
                    <option value="mp4-12c">MP4-12C</option>
                    <option value="senna">Senna</option>
                    <option value="p1">P1</option>
                    <option value="c8-corvette-zr1x">ZR1X</option>
                    <option value="c8-corvette-zr1">ZR1</option>
                    <option value="c8-corvette-z06">Z06</option>
                    <option value="grand-sport-x">Grand Sport X</option>
                    <option value="grand-sport">Grand Sport</option>
                    <option value="e-ray">E Ray</option>
                    <option value="c8-corvette-2020">Stingray</option>
                    <option value="row">row</option>
                    <option value="alpina">Alpina</option>
                    <option value="2-series">2 Series</option>
                    <option value="3-series">3 / 4 Series</option>
                    <option value="5-series">5 Series</option>
                    <option value="7-series">7 Series</option>
                    <option value="m2">M2</option>
                    <option value="m3">M3 / M4</option>
                    <option value="m5">M5</option>
                    <option value="m6-f12-f13">M6 (F12/F13)</option>
                    <option value="m8">M8 / M840i</option>
                    <option value="x5m">X5M</option>
                    <option value="x5">X5</option>
                    <option value="x6">X6</option>
                    <option value="x6m-e71">X6M</option>
                    <option value="x7">X7</option>
                    <option value="z4">Z4</option>
                    <option value="r8">R8 (2006+)</option>
                    <option value="tt-rs">TT-RS</option>
                    <option value="rs67">RS6/RS7 (C8) (2019+)</option>
                    <option value="rsq8">RSQ8 (2020+)</option>
                    <option value="sq5">SQ5 (2018+)</option>
                    <option value="sq7">SQ7 (2020+)</option>
                    <option value="sq8">SQ8</option>
                    <option value="rs3">RS3</option>
                    <option value="rs4">RS4</option>
                    <option value="rs5">RS5</option>
                    <option value="rs6">RS6</option>
                    <option value="rs7">RS7</option>
                    <option value="s1">S1</option>
                    <option value="s3">S3</option>
                    <option value="sq8">SQ8</option>
                    <option value="s8v10">S8 V10</option>
                    <option value="rapide">Rapide</option>
                    <option value="vanquish">Vanquish</option>
                    <option value="virage">Virage</option>
                    <option value="zagato">Zagato</option>
                    <option value="v12-vantage">V12 Vantage</option>
                    <option value="v8-vantage">V8 Vantage</option>
                    <option value="dbs">DBS</option>
                    <option value="db9">DB9</option>
                    <option value="db11">DB11</option>
                    <option value="continental-gt-gtc-speed">Continental GT/GTC</option>
                    <option value="bentayga">Bentayga</option>
                    <option value="amg">AMG GT</option>
                    <option value="gwag2025">G-Class (G-Wagon) 2025+</option>
                    <option value="gwag2019">G-Class (G-Wagon) 2019+</option>
                    <option value="gwag2015">G-Class (G-Wagon) 2015-2018</option>
                    <option value="c">C-Class</option>
                    <option value="cla">CLA-Class</option>
                    <option value="cls">CLS-Class</option>
                    <option value="e">E-Class</option>
                    <option value="s">S-Class</option>
                    <option value="sl">SL-Class</option>
                    <option value="slc">SLC-Class</option>
                    <option value="gla">GLA-Class</option>
                    <option value="glc">GLC-Class</option>
                    <option value="gle">GLE-Class</option>
                    <option value="gls">GLS-Class</option>
                    <option value="ghibli">Ghibli</option>
                    <option value="levante">Levante</option>
                    <option value="granturismo">GranTurismo</option>
                    <option value="quattroporte">Quattroporte</option>
                    <option value="gt-coupe-spyder">GT Coupe / Spyder</option>
                </select>
            </div>
            <div class="selector">
                <select id="submodel" disabled>
                    <option value="">Select Submodel</option>
                    <option value="992.2 (2025+)"></option>
                    <option value="992 (2019+)"></option>
                    <option value="991.2 (2017-2019)"></option>
                    <option value="991 (2012-2016)"></option>
                    <option value="997.2 (2009-2011)"></option>
                    <option value="997 (2005-2008)"></option>
                    <option value="996 (1999-2004)"></option>
                    <option value="993 (1994-1998)"></option>
                    <option value="964 (1989-1994)"></option>
                    <option value="911 3.0/3.2 (1976-1989)"></option>
                    <option value="992.2 GT3/RS (2025+)"></option>
                    <option value="992 GT3/RS (2022+)"></option>
                    <option value="991.2 GT3/RS (2017-2019)"></option>
                    <option value="991 GT3/RS (2014-2016)"></option>
                    <option value="997.2 GT3/RS (2010-2011)"></option>
                    <option value="997 GT3/RS (2006-2009)"></option>
                    <option value="996 GT3 (1999-2005)"></option>
                    <option value="992.2 Turbo/S (2025+)"></option>
                    <option value="992 Turbo/S (2021+)"></option>
                    <option value="991.2 Turbo/S (2017-2020)"></option>
                    <option value="991 Turbo/S (2013-2016)"></option>
                    <option value="997.2 Turbo/S (2010-2012)"></option>
                    <option value="997 Turbo/S (2006-2009)"></option>
                    <option value="996 Turbo/S (2000-2005)"></option>
                    <option value="993 Turbo/S (1995-1998)"></option>
                    <option value="964 Turbo/C2/965 (1990-1994)"></option>
                    <option value="911 Turbo/930 (1976-1989)"></option>
                    <option value="991.2 (2018+)"></option>
                    <option value="997.2 (2011)"></option>
                    <option value="997 (2008-2009)"></option>
                    <option value="996 (2001-2005)"></option>
                    <option value="718 GT4RS/Spyder RS (2023+)"></option>
                    <option value="718 GT4/GTS/Spyder (2020+)"></option>
                    <option value="718 (2017+)"></option>
                    <option value="981 GT4/Spyder (2015-2016)"></option>
                    <option value="981 (2013-2016)"></option>
                    <option value="987.2 (2009-2012)"></option>
                    <option value="987 (2005-2008)"></option>
                    <option value="986 (1997-2004)"></option>
                    <option value="Macan 2.0L"></option>
                    <option value="Macan S/GTS 3.0L"></option>
                    <option value="Macan Turbo 3.6L"></option>
                    <option value="Macan 2.0L"></option>
                    <option value="Macan S 3.0L"></option>
                    <option value="Macan Turbo 2.9L"></option>
                    <option value="Macan GTS 2.9L"></option>
                    <option value="Macan 2.0L"></option>
                    <option value="Macan S/GTS 2.9L"></option>
                    <option value="E3 Cayenne Base"></option>
                    <option value="E3 Cayenne S"></option>
                    <option value="E3 Cayenne GTS/Turbo"></option>
                    <option value="958.2 Turbo"></option>
                    <option value="958.2 S/GTS"></option>
                    <option value="958.2 V6"></option>
                    <option value="958.2 Hybrid"></option>
                    <option value="958 Turbo/S"></option>
                    <option value="958 S/GTS"></option>
                    <option value="958 V6"></option>
                    <option value="957 Turbo/S"></option>
                    <option value="957 S/GTS"></option>
                    <option value="957 V6"></option>
                    <option value="955 Turbo/S"></option>
                    <option value="955 S"></option>
                    <option value="955 V6"></option>
                    <option value="971 GTS"></option>
                    <option value="971 S"></option>
                    <option value="971 Turbo/S"></option>
                    <option value="971 V6"></option>
                    <option value="970 GTS"></option>
                    <option value="970 S"></option>
                    <option value="970 Turbo/S"></option>
                    <option value="970 V6"></option>
                    <option value="296 GTS/GTB"></option>
                    <option value="SF90"></option>
                    <option value="F8 Tributo"></option>
                    <option value="488 Pista"></option>
                    <option value="488 Spider/GTB"></option>
                    <option value="458"></option>
                    <option value="F430"></option>
                    <option value="360"></option>
                    <option value="355"></option>
                    <option value="348"></option>
                    <option value="F40"></option>
                    <option value="328"></option>
                    <option value="Testarossa"></option>
                    <option value="308 GTB"></option>
                    <option value="Roma"></option>
                    <option value="812"></option>
                    <option value="Portofino"></option>
                    <option value="California"></option>
                    <option value="California T"></option>
                    <option value="F12"></option>
                    <option value="599 GTB/GTO"></option>
                    <option value="550"></option>
                    <option value="456"></option>
                    <option value="Purosangue"></option>
                    <option value="Aventador LP700-4"></option>
                    <option value="Aventador S LP-740-4"></option>
                    <option value="Aventador SVJ LP770-4"></option>
                    <option value="Huracan"></option>
                    <option value="Huracan Performante"></option>
                    <option value="Huracan EVO / STO"></option>
                    <option value="M235i (F22)"></option>
                    <option value="M240i (F22)"></option>
                    <option value="335i & 135i (E90/E87)"></option>
                    <option value="340i & 440i (F30/F32)"></option>
                    <option value="335i & 435i (F30/F32)"></option>
                    <option value="M340i / M440i (G20)"></option>
                    <option value="M2 (F87) (2016-2021)"></option>
                    <option value="M2 Competition (F87) (2016-2021)"></option>
                    <option value="M2 (G87) (2023+)"></option>
                    <option value="M3/M4 (G80/G82) (2021+)"></option>
                    <option value="M3/M4 (F80/F82/F83) (2014-2018)"></option>
                    <option value="M3 (E90/E92/E93) (2007-2013)"></option>
                    <option value="M3 (E46) (2000-2006)"></option>
                    <option value="M5 (F10)"></option>
                    <option value="M5 (F90)"></option>
                    <option value="M5 (G90)"></option>
                    <option value="X5M (E70)"></option>
                    <option value="X5M (F85)"></option>
                    <option value="X5M (F95)"></option>
                </select>
            </div>
            <div class="buttons">
                <button id="search">Search</button>
                <button id="reset">Reset</button>
            </div>
            <div id="submodel-warning" style="color: white; font-size: 15px; display: none; margin-top: 8px;">
                Please select a submodel to continue
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", () => {
            const makeSelect = document.getElementById("make");
            const modelSelect = document.getElementById("model");
            const submodelSelect = document.getElementById("submodel");
            const searchButton = document.getElementById("search");
            const resetButton = document.getElementById("reset");

            const modelsByMake = {
                porsche: ["911-carrera", "gt3-gt3rs", "911-turbo", "gt2-gt2rs", "911-gt3-cup", "boxster-cayman", "macan", "cayenne", "panamera", "carrera-gt", "speedster", "944-turbo"],
                ferrari: ["mid-engine", "front-engine"],
                lamborghini: ["aventador", "huracan", "murcielago", "revuelto", "temerario", "gallardo", "urus", "diablo", "lp550-2-lp560-lp570"],
                mclaren: ["750s", "artura", "gt-gts", "765lt", "720s", "675lt", "650s", "600lt", "570s-570gt-540c", "mp4-12c", "senna", "p1"],
                bmw: ["alpina", "2-series", "3-series", "5-series", "7-series", "m2", "m3", "m5", "x5m", "m6-f12-f13", "m8", "x5", "x6", "x6m-e71", "x7", "z4"],
                audi: ["r8", "tt-rs", "rs67", "rsq8", "sq7", "sq5", "rs3", "rs4", "rs5", "rs6", "rs7", "s1", "s3", "sq8", "s8v10"],
                bentley: ["continental-gt-gtc-speed", "bentayga"],
                maserati: ["ghibli", "levante", "quattroporte", "gt-coupe-spyder", "granturismo"],
                'mercedes-benz': ["amg", "gwag2025", "gwag2019", "gwag2015", "c", "cla", "cls", "e", "s", "sl", "slc", "gla", "glc", "gle", "gls"],
                'aston-martin': ["rapide", "vanquish", "virage", "zagato", "v12-vantage", "v8-vantage", "dbs", "db9", "db11"],
                'c8-corvette': ["c8-corvette-2020", "c8-corvette-z06", "e-ray", "c8-corvette-zr1", "c8-corvette-zr1x", "grand-sport-x", "grand-sport", "row"]


            };
            const otherMakesUrls = {
                "rs67": "other-makes-models/audi/rs6rs7c8/",
                "rsq8": "other-makes-models/audi/rsq8/",
                "sq7": "other-makes-models/audi/sq7-2020/",
                "sq5": "other-makes-models/audi/audi-r8-2006/sq5-2018/",
                "sq8": "other-makes-models/audi/sq8/",
                "amg": "other-makes-models/mercedes-benz/amg-gt/",
                "gwag2025": "other-makes-models/mercedes-benz/g-class-g-wagen2025/",
                "gwag2019": "other-makes-models/mercedes-benz/g-class-g-wagen/",
                "gwag2015": "other-makes-models/mercedes-benz/g-class-g-wagen-2015-2018/",
                "c": "other-makes-models/mercedes-benz/c-class/",
                "cla": "other-makes-models/mercedes-benz/cla-class/",
                "cls": "other-makes-models/mercedes-benz/cls-class/",
                "e": "other-makes-models/mercedes-benz/e-class/",
                "s": "other-makes-models/mercedes-benz/s-class/",
                "sl": "other-makes-models/mercedes-benz/sl-class/",
                "slc": "other-makes-models/mercedes-benz/slc-class/",
                "gla": "other-makes-models/mercedes-benz/gla-class/",
                "glc": "other-makes-models/mercedes-benz/glc-class/",
                "gle": "other-makes-models/mercedes-benz/gle-class/",
                "gls": "other-makes-models/mercedes-benz/gls-class/",
                "levante": "other-makes-models/maserati/levante/",
            };

            const submodelsByModel = {
                "911-carrera": ["992.2 (2025+)", "992 (2019+)", "991.2 (2017-2019)", "991 (2012-2016)", "997.2 (2009-2011)", "997 (2005-2008)", "996 (1999-2004)", "993 (1994-1998)", "964 (1989-1994)", "911 3.0/3.2 (1976-1989)"],
                "gt3-gt3rs": ["992.2 GT3/RS (2025+)", "992 GT3/RS (2022+)", "991.2 GT3/RS (2017-2019)", "991 GT3/RS (2014-2016)", "997.2 GT3/RS (2010-2011)", "997 GT3/RS (2006-2009)", "996 GT3 (1999-2005)"],
                "911-turbo": ["992.2 Turbo/S (2025+)", "992 Turbo/S (2021+)", "991.2 Turbo/S (2017-2020)", "991 Turbo/S (2013-2016)", "997.2 Turbo/S (2010-2012)", "997 Turbo/S (2006-2009)", "996 Turbo/S (2000-2005)", "993 Turbo/S (1995-1998)", "964 Turbo/C2/965 (1990-1994)", "911 Turbo/930 (1976-1989)"],
                "gt2-gt2rs": ["991.2 (2018+)", "997.2 (2011)", "997 (2008-2009)", "996 (2001-2005)"],
                "boxster-cayman": ["718 GT4RS / Spyder RS (2023+)", "718 GT4 / GTS / Spyder (2020+)", "718 (2017+)", "981 GT4/Spyder (2015-2016)", "981 (2013-2016)", "987.2 (2009-2012)", "987 (2005-2008)", "986 (1997-2004)"],
                "macan": ["Macan 2.0L", "Macan S/GTS 3.0L", "Macan Turbo 3.6L", "Macan 2.0L", "Macan S 3.0L", "Macan Turbo 2.9L", "Macan GTS 2.9L", "Macan 2.0L", "Macan S/GTS 2.9L"],
                "cayenne": ["E3 Cayenne Base", "E3 Cayenne S", "E3 Cayenne GTS/Turbo", "958.2 Turbo", "958.2 S/GTS", "958.2 V6", "958.2 Hybrid", "958 Turbo/S", "958 S/GTS", "958 V6", "957 Turbo/S", "957 S/GTS", "957 V6", "955 Turbo/S", "955 S", "955 V6"],
                "panamera": ["971 GTS", "971 S", "971 Turbo/S", "971 V6", "970 GTS", "970 S", "970 Turbo/S", "970 V6"],
                "mid-engine": ["296 GTS/GTB", "SF90", "F8 Tributo", "488 Pista", "488 Spider/GTB", "458", "F430", "360", "355", "348", "F40", "328", "Testarossa", "308 GTB"],
                "front-engine": ["Roma", "812", "Portofino", "California", "California T", "Purosangue", "F12", "599 GTB/GTO", "550", "456"],
                "aventador": ["Aventador LP700-4", "Aventador S LP-740-4", "Aventador SVJ LP770-4"],
                "huracan": ["Huracan", "Huracan Performante", "Huracan EVO / STO"],
                "2-series": ["M235i (F22)", "M240i (F22)"],
                "3-series": ["335i & 135i (E90/E87)", "340i & 440i (F30/F32)", "335i & 435i (F30/F32)", "M340i / M440i (G20)"],
                "m2": ["M2 (F87) (2016-2021)", "M2 Competition (F87) (2016-2021)", "M2 (G87) (2023+)"],
                "m3": ["M3/M4 (G80/G82) (2021+)", "M3/M4 (F80/F82/F83) (2014-2018)", "M3 (E90/E92/E93) (2007-2013)", "M3 (E46) (2000-2006)"],
                "m5": ["M5 (F10)", "M5 (F90)", "M5 (G90)"],
                "x5m": ["X5M (E70)", "X5M (F85)", "X5M (F95)"],
                "r8": ["R8 V10 (2019+)", "R8 V10 (2016-2018)", "R8 V10 (2009-2015)", "R8 V10 (2007-2015)"]
            };
            const submodelUrls = {
                "992.2 (2025+)": "porsche/911-carrera/992-2-2025",
                "992 (2019+)": "porsche/911-carrera-992",
                "991.2 (2017-2019)": "porsche/911-carrera-991.2",
                "991 (2012-2016)": "porsche/911-carrera-991",
                "997.2 (2009-2011)": "porsche/911-carrera-997.2",
                "997 (2005-2008)": "porsche/911-carrera-997",
                "996 (1999-2004)": "porsche/911-carrera-996",
                "993 (1994-1998)": "porsche/911-carrera-993",
                "964 (1989-1994)": "porsche/911-carrera-964",
                "911 3.0/3.2 (1976-1989)": "porsche/911-carrera-3.0-3.2",
                "992.2 GT3/RS (2025+)": "porsche/gt3-gt3rs/992-2-gt3-gt3rs-2025",
                "992 GT3/RS (2022+)": "porsche/gt3-gt3rs/992",
                "991.2 GT3/RS (2017-2019)": "porsche/gt3-gt3rs-991.2",
                "991 GT3/RS (2014-2016)": "porsche/gt3-rs-991",
                "997.2 GT3/RS (2010-2011)": "porsche/gt3-rs-997.2",
                "997 GT3/RS (2006-2009)": "porsche/gt3-rs-997",
                "996 GT3 (1999-2005)": "porsche/gt3-rs-996",
                "992.2 Turbo/S (2025+)": "porsche/911-turbo/992-2-turbo-turbo-s-2025",
                "992 Turbo/S (2021+)": "porsche/911-turbo/992-turbo-2021",
                "991.2 Turbo/S (2017-2020)": "porsche/911-turbo-991.2-turbo-s",
                "991 Turbo/S (2013-2016)": "porsche/911-turbo-991-turbo-s",
                "997.2 Turbo/S (2010-2012)": "porsche/911-turbo-997.2-turbo-s",
                "997 Turbo/S (2006-2009)": "porsche/911-turbo-997-turbo-s",
                "996 Turbo/S (2000-2005)": "porsche/911-turbo-996-turbo-s",
                "993 Turbo/S (1995-1998)": "porsche/911-turbo-993-tubro-s",
                "964 Turbo/C2/965 (1990-1994)": "porsche/911-turbo-964-965-turbo",
                "911 Turbo/930 (1976-1989)": "porsche/911-turbo-930",
                "991.2 (2018+)": "porsche/gt2-rs-991.2",
                "997.2 (2011)": "porsche/gt2-rs-997.2",
                "997 (2008-2009)": "porsche/gt2-997",
                "996 (2001-2005)": "porsche/gt2-996",
                "718 GT4RS / Spyder RS (2023+)": "porsche/boxster-cayman/718-gt4-rs-2023",
                "718 GT4 / GTS / Spyder (2020+)": "porsche/boxster-cayman/718-gt4-gts-spyder",
                "718 (2017+)": "porsche/boxster-cayman-718",
                "981 GT4/Spyder (2015-2016)": "porsche/boxster-cayman-981-gt4-spyder",
                "981 (2013-2016)": "porsche/boxster-cayman-981",
                "987.2 (2009-2012)": "porsche/boxster-cayman-987.2",
                "987 (2005-2008)": "porsche/boxster-cayman-987",
                "986 (1997-2004)": "porsche/boxster-cayman-986",
                "Macan 2.0L": "porsche/macan-2-0",
                "Macan S/GTS 3.0L": "porsche/macan-s",
                "Macan Turbo 3.6L": "porsche/macan-turbo",
                "Macan 2.0L": "porsche/macan/macan-2-0l-2019",
                "Macan S 3.0L": "porsche/macan/macan-2019/new-category",
                "Macan Turbo 2.9L": "porsche/macan/macan-gen-ii-2019/macan-turbo-2-9l-2019-2021",
                "Macan GTS 2.9L": "porsche/macan/macan-gen-ii-2019/macan-gts-2-9l-2019",
                "Macan 2.0L": "porsche/macan/macan-gen-ii-facelift-2022/macan-2-0l-2022",
                "Macan S/GTS 2.9L": "porsche/macan/macan-gen-ii-facelift-2022/macan-s-gts-2-9l-2022",
                "E3 Cayenne Base": "porsche/cayenne/e3-cayenne-2019/e3-cayenne-base-2019/", 
                "E3 Cayenne S": "porsche/cayenne-e3-s/",
                "E3 Cayenne GTS/Turbo": "porsche/cayenne/e3-cayenne-2019/e3-cayenne-gts-turbo-2019/",
                "958.2 Turbo": "porsche/cayenne-958.2-turbo/", 
                "958.2 S/GTS": "porsche/cayenne-958.2-s-gts/",
                "958.2 V6": "porsche/cayenne-958.2-v6/",
                "958.2 Hybrid": "porsche/cayenne-958.2-hybrid/",
                "958 Turbo/S": "porsche/cayenne-958-turbo-s/",
                "958 S/GTS": "porsche/cayenne-958-s-gts/",
                "958 V6": "porsche/cayenne-958-v6/",
                "957 Turbo/S": "porsche/cayenne-957-turbo-s/",
                "957 S/GTS": "porsche/cayenne-957-s-gts/",
                "957 V6": "porsche/cayenne-957-v6/",
                "955 Turbo/S": "porsche/cayenne-955-turbo-s/",
                "955 S": "porsche/cayenne-955-s/",
                "955 V6": "porsche/cayenne-955-v6/",
                "971 GTS": "porsche/panamera/971-gts/",
                "971 S": "971-s/",
                "971 Turbo/S": "porsche/panamera/971-turbo-turbo-s-2017/",
                "971 V6": "porsche/panamera-971-v6/",
                "970 GTS": "porsche/panamera-970-gts/",
                "970 S": "porsche/panamera-970-s/",
                "970 Turbo/S": "porsche/panamera-970-turbo-turbo-s/",
                "970 V6": "porsche/panamera-970-v6/",
                "296 GTS/GTB": "ferrari/mid-engine/296-gts/", 
                "SF90": "sf90/", 
                "F8 Tributo": "ferrari/f8-tributo/",
                "488 Pista": "ferrari/488-pista/", 
                "488 Spider/GTB": "ferrari/488/", 
                "458": "ferrari/458/", 
                "F430": "ferrari/430/",
                "360": "ferrari/360/", 
                "355": "ferrari/355/", 
                "348": "ferrari/348/", 
                "F40": "ferrari/f40/", 
                "328": "ferrari/328/", 
                "Testarossa": "ferrari/testarossa/", 
                "308 GTB": "ferrari/308/",
                "Roma": "ferrari/roma/", 
                "812": "ferrari/812/", 
                "Portofino": "ferrari/portofino/", 
                "California": "ferrari/california", 
                "California T": "ferrari/california-t",
                "Purosangue": "ferrari/purosangue",
                "F12": "ferrari/f12", 
                "599 GTB/GTO": "ferrari/599", 
                "550": "ferrari/550", 
                "456": "ferrari/456",
                "Aventador LP700-4": "lamborghini/aventador/",
                "Aventador S LP-740-4": "lamborghini/aventador-s-lp-740-4/",
                "Aventador SVJ LP770-4": "lamborghini/aventador-svj/",
                "Huracan": "lamborghini/huracan/",
                "Huracan Performante": "lamborghini/huracan-performante/",
                "Huracan EVO / STO": "lamborghini/huracan-evo-sto/",
                "M235i (F22)": "bmw/m235i-f22/",
                "M240i (F22)": "bmw/m240i-b58/",
                "335i & 135i (E90/E87)": "bmw/335i-135i-e90-e87/",
                "340i & 440i (F30/F32)": "bmw/340i-440i-f30-f32/",
                "335i & 435i (F30/F32)": "bmw/335i-435i-f30-f32/",
                "M340i / M440i (G20)": "bmw/m340i-g20/",
                "M2 (F87) (2016-2021)": "bmw/m2-f87/",
                "M2 Competition (F87) (2016-2021)": "bmw/m2-competition-f87/",
                "M2 (G87) (2023+)": "bmw/m2/m2-g87-2023/",
                "M3/M4 (G80/G82) (2021+)": "m4/",
                "M3/M4 (F80/F82/F83) (2014-2018)": "bmw/m4-m3-f80-f82-f83/",
                "M3 (E90/E92/E93) (2007-2013)": "bmw/m3-e90-e92-e93/",
                "M3 (E46) (2000-2006)": "bmw/m3-e46/",
                "M5 (F10)": "bmw/m5-f10/",
                "M5 (F90)": "bmw/m5-f90/",
                "M5 (G90)": "bmw/m5/m5-g90/",
                "X5M (E70)": "bmw/x5m-e70/",
                "X5M (F85)": "bmw/x5m-f85/",
                "X5M (F95)": "bmw/x5m-f95/",
                "R8 V10 (2019+)": "other-makes-models/audi/audi-r8-2006/r8-v10-2019/",
                "R8 V10 (2016-2018)": "audi/r8-v10-rws/",
                "R8 V10 (2009-2015)": "audi/r8-v10/",
                "R8 V10 (2007-2015)": "audi/r8-v8/"
            };
            
            const groupedSubmodelsByModel = {
                "macan": {
                    "Gen1 (2014-2018)": ["Macan 2.0L", "Macan S/GTS 3.0L", "Macan Turbo 3.6L"],
                    "Gen2 (2019-2021)": ["Macan 2.0L", "Macan S 3.0L", "Macan Turbo 2.9L", "Macan GTS 2.9L"],
                    "Gen2 Facelift (2022+)": ["Macan 2.0L", "Macan S/GTS 2.9L"]
                },
                "cayenne": {
                    "E3 Cayenne (2019+)": ["E3 Cayenne Base", "E3 Cayenne S", "E3 Cayenne GTS/Turbo"],
                    "958.2 Cayenne (2015-2018)": ["958.2 Turbo", "958.2 S/GTS", "958.2 V6", "958.2 Hybrid"],
                    "958 Cayenne (2011-2014)": ["958 Turbo/S", "958 S/GTS", "958 V6"],
                    "957 Cayenne (2008-2010)": ["957 Turbo/S", "957 S/GTS", "957 V6"],
                    "955 Cayenne (2002-2007)": ["955 Turbo/S", "955 S", "955 V6"],
                },
                "panamera": {
                    "971 Panamera (2017+)": ["971 GTS", "971 S", "971 Turbo/S", "971 V6"],
                    "970 Panamera (2010-2016)": ["970 GTS", "970 S", "970 Turbo/S", "970 V6"],
                },
                
            };


            const modelOptions = Array.from(modelSelect.options);
            makeSelect.addEventListener("change", () => {
                const selectedMake = makeSelect.value;
                modelSelect.innerHTML = "";
                const defaultOption = document.createElement("option");
                defaultOption.value = "";
                defaultOption.textContent = "Select Model";
                modelSelect.appendChild(defaultOption);
                submodelSelect.innerHTML = "";
                submodelSelect.disabled = true;
                const submodelDefaultOption = document.createElement("option");
                submodelDefaultOption.value = "";
                submodelDefaultOption.textContent = "Select Submodel";
                submodelSelect.appendChild(submodelDefaultOption);

                if (modelsByMake[selectedMake]) {
                    const filteredModels = modelsByMake[selectedMake];
                    modelOptions
                        .filter((option) => filteredModels.includes(option.value))
                        .forEach((option) => modelSelect.appendChild(option));
                }
                
            modelSelect.addEventListener("change", () => {
                const selectedModel = modelSelect.value;
                submodelSelect.innerHTML = "";
                const submodelDefaultOption = document.createElement("option");
                submodelDefaultOption.value = "";
                submodelDefaultOption.textContent = "Select Submodel";
                submodelSelect.appendChild(submodelDefaultOption);

                if (groupedSubmodelsByModel[selectedModel]) {
                    const groups = groupedSubmodelsByModel[selectedModel];
                    for (const [groupName, submodels] of Object.entries(groups)) {
                        const optGroup = document.createElement("optgroup");
                        optGroup.label = groupName;
                        optGroup.style.color = "black";
                        optGroup.style.fontWeight = "bold"
                        submodels.forEach((submodel) => {
                            const option = document.createElement("option");
                            option.value = submodel;
                            option.textContent = submodel;
                            optGroup.appendChild(option);
                        });
                        submodelSelect.appendChild(optGroup);
                    }
                    submodelSelect.disabled = false;

                } else if (submodelsByModel[selectedModel]) {
                    submodelsByModel[selectedModel].forEach((submodel) => {
                        const option = document.createElement("option");
                        option.value = submodel;
                        option.textContent = submodel;
                        submodelSelect.appendChild(option);
                    });

                    submodelSelect.disabled = false;
                    } else {
                        submodelSelect.disabled = true;
                    }
                    });
                });
            
            resetButton.addEventListener("click", () => {
                makeSelect.value = "";
                modelSelect.innerHTML = "";
                submodelSelect.innerHTML = "";
                const defaultOption = document.createElement("option");
                defaultOption.value = "";
                defaultOption.textContent = "Select Model";
                modelSelect.appendChild(defaultOption);
                const submodelDefaultOption = document.createElement("option");
                submodelDefaultOption.value = "";
                submodelDefaultOption.textContent = "Select Submodel";
                submodelSelect.appendChild(submodelDefaultOption);
            });
            function updateSearchButtonState() {
                const warning = document.getElementById("submodel-warning");
                warning.style.display = "none";
                searchButton.disabled = false;
            }

            // Listen for changes on make and model
            makeSelect.addEventListener("change", updateSearchButtonState);
            modelSelect.addEventListener("change", updateSearchButtonState);
            submodelSelect.addEventListener("change", updateSearchButtonState);
            updateSearchButtonState();

            searchButton.addEventListener("click", (event) => {
                const make = makeSelect.value;
                const model = modelSelect.value;
                const submodel = submodelSelect.value;
                const warning = document.getElementById("submodel-warning");
                // If Audi and R8 (2006+) is selected and no submodel, show warning and prevent navigation
                if (
                    make === "audi" &&
                    (model.toLowerCase() === "r8" || model.toLowerCase() === "r8 (2006+)") &&
                    (!submodel || submodel === "")
                ) {
                    event.preventDefault();
                    warning.style.display = "block";
                    return;
                } else {
                    warning.style.display = "none";
                }
                
                
                let url;
                if (make && !model) {
                    alert("Please select a model before proceeding!");
                    return;
                }
                if (otherMakesUrls[model]) {
                    url = `/${otherMakesUrls[model]}`;
                } else if (submodel && submodelUrls[submodel]) {
                    url = `/${submodelUrls[submodel]}`;
                } else if (submodel) {
                    url = `/${make}/${model}/${submodel}`;
                } else {
                    url = `/${make}/${model}`;
                }
                if (make && model) {
                    window.location.href = url;
                }
            });
        });
        </script>
        <br>
        <div class="brandsImage-slider" data-slick='{ 
            "dots": true,
            "arrows": false,
            "rows": 2,
            "autoplay": false,
            "slidesToShow": 2, 
            "slidesToScroll": 2, 
            "adaptiveHeight": true,
            "mobileFirst": true,
            "infinite": false,
            "nextArrow": "<svg class=&apos;slick-next slick-arrow&apos;><use xlink:href=&apos;#icon-slick-next&apos;></use></svg>", 
            "prevArrow": "<svg class=&apos;slick-prev slick-arrow&apos;><use xlink:href=&apos;#icon-slick-prev&apos;></use></svg>",
            "responsive": [
                {
                    "breakpoint": 1100,
                    "settings": {
                        "slidesToShow": 5,
                        "slidesToScroll": 5,
                        "dots": true,
                        "arrows": true
                    }
                },
                {
                    "breakpoint": 767,
                    "settings": {
                        "slidesToShow": 4,
                        "slidesToScroll": 4
                    }
                },
                {
                    "breakpoint": 551,
                    "settings": {
                        "slidesToShow": 3,
                        "slidesToScroll": 3
                    }
                }
            ]}'>
            <div class="brand-item">
                <a href="/porsche/" class="brand-button porsche">
                    <span>PORSCHE</span>
                </a>
            </div>
            <div class="brand-item">
                <a href="/ferrari/" class="brand-button ferrari">
                    <span>FERRARI</span>
                </a>
            </div>
            <div class="brand-item">
                <a href="/lamborghini/" class="brand-button lamborghini">
                    <span>LAMBORGHINI</span>
                </a>
            </div>
            <div class="brand-item">
                <a href="/mclaren/" class="brand-button mclaren">
                    <span>McLAREN</span>
                </a>
            </div>
            <div class="brand-item">
                <a href="/bmw/" class="brand-button bmw">
                    <span>BMW</span>
                </a>
            </div>
            <div class="brand-item">
                <a href="/c8-corvette/" class="brand-button corvette">
                    <span>C8 CORVETTE</span>
                </a>
            </div>
            <div class="brand-item">
                <a href="/other-makes-models/aston-martin/" class="brand-button aston">
                    <span>ASTON MARTIN</span>
                </a>
            </div>
            <div class="brand-item">
                <a href="/other-makes-models/bentley/" class="brand-button bentley">
                    <span>BENTLEY</span>
                </a>
            </div>
            <div class="brand-item">
                <a href="/audi/" class="brand-button audi">
                    <span>AUDI</span>
                </a>
            </div>
            <div class="brand-item">
                <a href="/other-makes-models/mercedes-benz/" class="brand-button mercedes">
                    <span>MERCEDES-BENZ</span>
                </a>
            </div>
        </div>
        <h2 class="brand-disclaimer" style="font-size: 8px; text-align: center;">DISCLAIMER: Porsche®, Ferrari®, McLaren®, BMW®, Audi®, Corvette®, Mercedes®, Bentley®, Aston Martin®, Maserati®, and other model names are trademarks or registered trademarks of their respective owners. Fabspeed  is not associated with any of these trademarked owners. Fabspeed designs and engineers aftermarket parts and accessories for the brands mentioned above. All pictures and references to trademarked owners' names, car names, and shapes are for reference only and do not imply any association with Fabspeed.</h2>
    </div>
</div>


<!-- 600x600 images
    <div class="themevale_featuredBrands themevale_section background-gray padding-top-50 padding-bottom-50">
    <div class="container"> 
        <div class="page-heading-wrapper">
            <h2 class="page-heading">SHOP YOUR BRAND</h2>
            <a class="page-heading-link" href="/brands/">{{lang 'brand.view_brands'}}</a>
        </div>
        <div class="brandsImage-slider" data-slick='{ 
            "dots": true,
            "arrows": false,
            "rows": 2,
            "autoplay": false,
            "slidesToShow": 2, 
            "slidesToScroll": 2, 
            "adaptiveHeight": true,
            "mobileFirst": true,
            "infinite": false,
            "nextArrow": "<svg class=&apos;slick-next slick-arrow&apos;><use xlink:href=&apos;#icon-slick-next&apos;></use></svg>", 
            "prevArrow": "<svg class=&apos;slick-prev slick-arrow&apos;><use xlink:href=&apos;#icon-slick-prev&apos;></use></svg>",
            "responsive": [
                {
                    "breakpoint": 1100,
                    "settings": {
                        "slidesToShow": 5,
                        "slidesToScroll": 5,
                        "dots": true,
                        "arrows": true
                    }
                },
                {
                    "breakpoint": 767,
                    "settings": {
                        "slidesToShow": 4,
                        "slidesToScroll": 4
                    }
                },
                {
                    "breakpoint": 551,
                    "settings": {
                        "slidesToShow": 3,
                        "slidesToScroll": 3
                    }
                }
            ]}'>
            <div class="brand-item">
                <a href="/porsche/" class="featured-brand"><img class="lazyload" src="https://cdn11.bigcommerce.com/s-fh9wsjv2/product_images/uploaded_images/brand-porsche.jpg?t=1644859298&_gl=1*1to9j8a*_ga*NzE3Mjg5NzU3LjE2NDE1OTYyMDE.*_ga_WS2VZYPC6G*MTY0NDg3Mjg3OS4yNzQuMS4xNjQ0ODczMDc1LjYw"alt="" /></a> 
            </div>
            <div class="brand-item">
                <a href="/ferrari/" class="featured-brand"><img class="lazyload" src="https://cdn11.bigcommerce.com/s-fh9wsjv2/product_images/uploaded_images/brand-ferrari.jpg?t=1644859297&_gl=1*13twiri*_ga*NzE3Mjg5NzU3LjE2NDE1OTYyMDE.*_ga_WS2VZYPC6G*MTY0NDg1OTA4Ni4yNzIuMS4xNjQ0ODU5Mzg2LjQ2" alt="" /></a> 
            </div>
            <div class="brand-item">
                <a href="/lamborghini/" class="featured-brand"><img class="lazyload" src="https://cdn11.bigcommerce.com/s-fh9wsjv2/product_images/uploaded_images/brand-lamborghini.jpg?t=1644859297&_gl=1*13twiri*_ga*NzE3Mjg5NzU3LjE2NDE1OTYyMDE.*_ga_WS2VZYPC6G*MTY0NDg1OTA4Ni4yNzIuMS4xNjQ0ODU5Mzg2LjQ2" alt="" /></a> 
            </div>
            <div class="brand-item">
                <a href="/mclaren/" class="featured-brand"><img class="lazyload" src="https://cdn11.bigcommerce.com/s-fh9wsjv2/product_images/uploaded_images/brand-mclaren.jpg?t=1644859298&_gl=1*13twiri*_ga*NzE3Mjg5NzU3LjE2NDE1OTYyMDE.*_ga_WS2VZYPC6G*MTY0NDg1OTA4Ni4yNzIuMS4xNjQ0ODU5Mzg2LjQ2" alt="" /></a> 
            </div>
            <div class="brand-item">
                <a href="/bmw/" class="featured-brand"><img class="lazyload" src="https://cdn11.bigcommerce.com/s-fh9wsjv2/product_images/uploaded_images/brand-bmw.jpg?t=1644859296&_gl=1*u46kch*_ga*NzE3Mjg5NzU3LjE2NDE1OTYyMDE.*_ga_WS2VZYPC6G*MTY0NDg1OTA4Ni4yNzIuMS4xNjQ0ODU5Mzg2LjQ2" alt="" /></a> 
            </div>
            <div class="brand-item">
                <a href="/c8-corvette/" class="featured-brand"><img class="lazyload" src="https://cdn11.bigcommerce.com/s-fh9wsjv2/product_images/uploaded_images/brand-corvette.jpg?t=1644859296&_gl=1*u46kch*_ga*NzE3Mjg5NzU3LjE2NDE1OTYyMDE.*_ga_WS2VZYPC6G*MTY0NDg1OTA4Ni4yNzIuMS4xNjQ0ODU5Mzg2LjQ2" alt="" /></a> 
            </div>
            <div class="brand-item">
                <a href="/other-makes-models/aston-martin/" class="featured-brand"><img class="lazyload" src="https://cdn11.bigcommerce.com/s-fh9wsjv2/product_images/uploaded_images/brand-aston-martin.jpg?t=1644859295&_gl=1*1amlwlb*_ga*NzE3Mjg5NzU3LjE2NDE1OTYyMDE.*_ga_WS2VZYPC6G*MTY0NDg1OTA4Ni4yNzIuMS4xNjQ0ODU5Mzg2LjQ2" alt="" /></a> 
            </div>
            <div class="brand-item">
                <a href="/other-makes-models/bentley/" class="featured-brand"><img class="lazyload" src="https://cdn11.bigcommerce.com/s-fh9wsjv2/product_images/uploaded_images/brand-bentley.jpg?t=1644859296&_gl=1*u46kch*_ga*NzE3Mjg5NzU3LjE2NDE1OTYyMDE.*_ga_WS2VZYPC6G*MTY0NDg1OTA4Ni4yNzIuMS4xNjQ0ODU5Mzg2LjQ2" alt="" /></a> 
            </div>
            <div class="brand-item">
                <a href="/audi/" class="featured-brand"><img class="lazyload" src="https://cdn11.bigcommerce.com/s-fh9wsjv2/product_images/uploaded_images/brand-audi.jpg?t=1644859295&_gl=1*u46kch*_ga*NzE3Mjg5NzU3LjE2NDE1OTYyMDE.*_ga_WS2VZYPC6G*MTY0NDg1OTA4Ni4yNzIuMS4xNjQ0ODU5Mzg2LjQ2" alt="" /></a> 
            </div>
            <div class="brand-item">
                <a href="/other-makes-models/mercedes-benz/" class="featured-brand"><img class="lazyload" src="https://cdn11.bigcommerce.com/s-fh9wsjv2/product_images/uploaded_images/brand-mercedes.jpg?t=1644859298&_gl=1*13twiri*_ga*NzE3Mjg5NzU3LjE2NDE1OTYyMDE.*_ga_WS2VZYPC6G*MTY0NDg1OTA4Ni4yNzIuMS4xNjQ0ODU5Mzg2LjQ2" alt="" /></a> 
            </div>
        </div>
    </div>
</div>
-->
