// =============================================================================
// LOGIN (CSS)
// =============================================================================
//
// Let press Ctrl + f and type of paste the key, then press Enter to search the content
//
//  1.0 Login page
//
//  2.0 Account created
//
//  3.0 Forgot pass
//
//  4.0 New password
//
//  RESPONSIVE
//
//
// -----------------------------------------------------------------------------


/*=========================================
=            www.themevale.com            =
=========================================*/

    /*--------  1.0 Login page  ---------*/
        .login-row {
            width: 100%;
            display: block;
            margin-top: 10px;
            .login-form {
                width: 100%;
                display: block;
                margin-bottom: 30px;
            }
            .new-customer {
                width: 100%;
                display: block;
            }
            .form-actions {
                text-align: left;
            }
            @include breakpoint("small") {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                .login-form {
                    width: 50%;
                    padding-top: 30px;
                    padding-right: 30px;
                    margin-bottom: 0;
                }
                .new-customer {
                    width: 50%;
                }
            }
            @include breakpoint("medium") {
                .login-form {
                    padding-right: 50px;
                }
            }
            @media (min-width: 1025px) {
                .login-form {
                    width: 470px;
                    padding-right: 0px;
                }
                .new-customer {
                    width: 570px;
                }
            }
        }

        .login-form {
            .form-actions {
                margin-top: 25px;
                text-align: left;
                .button {
                    min-width: 160px;
                    display: inline-block;
                    vertical-align: middle;
                }
                .forgot-password {
                    display: block;
                    position: relative;
                    margin-top: 10px;
                    color: stencilColor('color-textLink--hover');
                    @include breakpoint("medium") {
                        margin-top: 0;
                        margin-left: 30px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                    @media (min-width: 1025px) {
                        &:before {
                            content: "";
                            left: 0;
                            width: 0;
                            bottom: 0;
                            height: 1px;
                            position: absolute;
                            transition: all 0.3s ease;
                            background-color: stencilColor('color-textLink--hover');
                        }
                        &:hover {
                            color: stencilColor('color-textLink--hover');
                            &:before {
                                width: 100%;
                            }
                        }
                    }
                }   
            }
        }

        .new-customer {
            padding: 25px 20px;
            background-color: #f7f7f7;
            border-radius: 3px;
            .panel-header, .panel-body {
                background-color: transparent;
            }
            .panel-header {
                padding: 0;
                .panel-title {
                    font-size: 20px;
                    line-height: 1;
                    margin: 0 0 20px 0;
                    text-transform: uppercase;
                }
            }
            .panel-body {
                padding: 0;
                margin-bottom: 0;
                .new-customer-intro {
                    margin-bottom: 7px;   
                }
                ul li {
                    line-height: 30px;
                }
            }
            .button {
                margin-top: 5px;
                min-width: 200px;
                margin-bottom: 0;
            }
            @include breakpoint("medium") {
                padding: 35px;
            }
        }

    /*--------  2.0 Account created  ----*/
        .page-account-created {
            margin-top: 20px;
            margin-bottom: 20px;
            .alertBox {
                display: block;
                .alertBox-message {
                    width: auto;
                }
            }
            .button {
                margin: 20px 0 0 0;
                min-width: 200px;
            }
            .page-heading {
                line-height: 1.5;
                &:before,
                &:after {
                    content: none;
                }
            }
            @include breakpoint('small') {
                margin-top: 50px;
                margin-bottom: 20px;
            }
        }

        .button[value="Create Account"] {
            min-width: 200px;
        }

        .page-type-shippingaddressform {
            form[data-address-form] {
                .button {
                    min-width: 180px;
                }
            }
        }

    /*--------  3.0 Forgot pass  --------*/
        .forgot-password-form {
            .form-prefixPostfix {
                display: block;
                .button {
                    width: auto;
                    display: inline-block;
                    margin-top: 15px;
                    min-width: 200px;
                    height: auto;
                }
                @include breakpoint("large") {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    .button {
                        margin-top: 0;
                        margin-left: 20px;
                    }
                    .form-inlineMessage {
                        position: absolute;
                        bottom: -10px;
                    }
                }
            }
        }

    /*--------  4.0 New password  -------*/
        .new-password-form {
            .button[value="Continue"] {
                min-width: 200px;
            }
        }

    /*--------  5.0 Gift Certificates  --*/
        .gift_certificate-page {
            &.account {
                margin-top: 0;
            }
            > ol {
                li {
                    margin-bottom: 7px;
                }
            }
            > h3 {
                font-size: 16px;
                margin-top: 0;
                line-height: 1.5;
                margin-bottom: 15px;
                @include breakpoint("small") {
                    font-size: 20px;
                }
            }
            strong {
                font-weight: 600;
            }
        }

        #gift-certificate-balance {
            .form-prefixPostfix {
                display: block;
                .button {
                    width: auto;
                    margin-top: 15px;
                    min-width: 200px;
                    height: auto;
                }
                @include breakpoint("large") {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    .button {
                        margin-top: 0;
                        margin-left: 20px;
                    }
                }
            }
        }

        #gift-certificate-form {
            @include breakpoint("small") {
                #gift-certificate-preview {
                    min-width: 120px;
                }
                #gift-certificate-submit {
                    min-width: 300px;
                }
            }
            @include breakpoint("medium") {
                #gift-certificate-preview {
                    min-width: 160px;
                }
                #gift-certificate-submit {
                    min-width: 400px;
                }
            }
        }

        .GiftCertificateBody {
            #GiftCertificateAmount {
                font-size: 24px;
            }
            .StoreInfo {
                padding-right: 30%;
            }
            #LogoContainer h1 {
                font-size: 24px;
                line-height: 1.2;
            }
        }

    /*--------  6.0 Login form  ---------*/
        .login-dropdown {
            right: 0;
            padding: 0;
            left: auto;
            z-index: 21;
            width: 300px;
            display: none;
            text-align: left;
            position: absolute;
            border-radius: 3px;
            top: calc(100% + 10px);
            color: stencilColor('color-textBase');
            background-color: #ffffff;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
            .close {
                top: 50%;
                right: 27px;
                color: #323232;
                font-size: 30px;
                font-weight: 400;
                line-height: 20px;
                position: absolute;
                transform: translateY(-50%);
            }
            .login-header,
            .login-content,
            .login-footer {
                padding-left: 28px;
                padding-right: 28px
            }
            .login-header {
                display: block;
                text-align: left;
                padding-top: 13px;
                position: relative;
                padding-bottom: 11px;
                border-bottom: 1px solid #e2e4e8;
                .login-title {
                    margin: 0;
                    line-height: 1;
                    font-size: 16px;
                    font-weight: 700;
                    color: #323232;
                    text-transform: uppercase;
                }
            }
            .login-content {
                padding-top: 15px;
                padding-bottom: 30px;
                .login-form {
                    margin-bottom: 0;
                }
                .form-field {
                    margin-bottom: 20px;
                }
                .form-actions {
                    margin-top: 0;
                    text-align: left;
                    .forgot-password,
                    .button {
                        margin-left: 0;
                    }
                    .button + .forgot-password {
                        margin-top: 15px;
                        margin-bottom: 0;
                    }
                    .forgot-password {
                        color: stencilColor('color-textLink--hover');
                        line-height: 1;
                        display: inline-block;
                        margin-bottom: 16px;
                        @media (min-width: 1025px) {
                            &:before {
                                content: "";
                                left: 0;
                                width: 0;
                                bottom: -2px;
                                height: 1px;
                                position: absolute;
                                transition: all 0.3s ease;
                                background-color: stencilColor('color-textLink--hover');
                            }
                            &:hover {
                                color: stencilColor('color-textLink--hover');
                                &:before {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
            .login-footer {
                padding-top: 15px;
                padding-bottom: 30px;
                background-color: #f7f7f7;
                border-radius: 0 0 3px 3px;
            }
            .intro {
                margin-bottom: 18px;
            }
            .button {
                width: 100%;
                display: block;
                padding: 11px 15px 10px 15px;
            }
        }

/*=====  End of www.themevale.com  ======*/
