<article data-categories="{{join category '/'}}" class="card {{#if alternate}}card--alternate{{/if}}" data-product-id="{{id}}" {{#if settings.data_tag_enabled}} data-event-type="{{event}}" data-entity-id="{{id}}" data-position="{{position}}" data-name="{{name}}" data-product-category="{{#each category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}" data-product-brand="{{brand.name}}" data-product-price="{{#if price.with_tax}}{{price.with_tax.value}}{{else}}{{price.without_tax.value}}{{/if}}"  {{/if}}>
    <figure class="card-figure">
        <div class="themevale_badges">
            {{#each products}}
                {{#if id '==' ../id}}
                <div class="new-badge themevale_badge">
                    <span class="text">{{lang 'products.badges.new'}}</span>
                </div>
                {{/if}}
            {{/each}}
            {{#or price.non_sale_price_with_tax price.non_sale_price_without_tax}}
                <div class="sale-badge themevale_badge">
                    <span class="text">{{lang 'products.badges.sale'}}</span>
                </div>
            {{/or}}
            {{#each custom_fields}}
                {{#if name '===' 'customlabel'}}
                <div class="custom-badge themevale_badge">
                    <span class="text">{{{value}}}</span>
                </div>
                {{/if}}
            {{/each}}
            {{#if out_of_stock_message}}
                <div class="soldOut-badge themevale_badge">
                    <span class="text">{{lang 'products.badges.sold_out'}}</span>
                </div>
            {{/if}}
        </div>
        <a href="{{url}}" class="product_img_link" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}>
            <div class="card-img-container {{#if images.length '>=' 2}}card-img-hover{{/if}}">
                <img class="card-image lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
                {{#if images.length '>=' 2}}
                    {{#each images}}
                        {{#if @index '==' 1}}
                            <span class="product-additional" data-product-id="">
                                <img class="replace-2x img-responsive lazyload" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage this 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
                            </span>
                        {{/if}}
                    {{/each}}
                {{/if}}
            </div>
        </a>
        <div class="card-figcaption">
            {{#unless hide_product_quick_view}}
                {{#if theme_settings.show_product_quick_view}}
                    {{#unless demo}}
                        {{#if settings.data_tag_enabled}}
                            <a href="javascript:void(0)" class="card-button-quickview quickview" data-event-type="product-click" data-product-id="{{id}}">{{lang 'products.quick_view'}}</a>
                        {{else}}
                            <a href="javascript:void(0)" class="card-button-quickview quickview" data-product-id="{{id}}">{{lang 'products.quick_view'}}</a>
                        {{/if}}
                    {{/unless}}
                {{/if}}
            {{/unless}}
        </div>
    </figure>
    <div class="card-body">
        {{#if brand.name}}
            <p class="card-brand" data-test-info-type="brandName">{{brand.name}}</p>
        {{/if}}
        <h4 class="card-title" style="height:40px !important;">
            <a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}>{{name}}</a>
        </h4>
        <div class="card-wrapper">
            {{#if num_reviews '>' 0}}
                {{#if show_rating}}
                    <p class="card-rating" data-test-info-type="productRating">
                        <span class="rating--small">
                            {{> components/products/ratings rating=rating}}
                        </span>
                        {{#if num_reviews}}
                            <span class="number-review">({{num_reviews}})</span>
                        {{/if}}
                    </p>
                {{/if}}
                {{else}}
                    <div style="display:block; width: 20px; background-color: rgb(224, 224, 224); height: 1px;"></div>
            {{/if}}
            {{#if show_compare}}
                <label class="card-compare" for="compare-{{id}}">
                    <input type="checkbox" name="products[]" value="{{id}}" id="compare-{{id}}" data-compare-id="{{id}}">
                    <span>{{lang 'products.compare'}}</span>
                </label>
            {{/if}}
        </div>
        <div class="card-wrapper">
            <div class="card-price" data-test-info-type="price">
                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                    {{> components/products/price price=price}}
                {{else}}
                    {{> components/common/login-for-pricing}}
                {{/or}}
            </div>
            {{#if show_wishlist}}
                <div class="card-wishlist">
                    <a href="/wishlist.php?action=add&product_id={{id}}" class="card-button-wishlist" title="{{lang 'account.wishlists.add_item'}}">
                        <svg class="icon"><use xlink:href="#icon-heart"/></svg>
                    </a>
                </div>
            {{/if}}
        </div>
        <div class="card-figcaption">
            {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                {{#if show_cart_action}}
                    {{#if has_options}}
                        <a href="{{url}}" data-event-type="product-click" class="button card-figcaption-button" data-product-id="{{id}}">{{lang 'products.choose_options'}}</a>
                    {{/if}}
                    {{#if pre_order}}
                        <a href="{{pre_order_add_to_cart_url}}" data-event-type="product-click" class="button card-figcaption-button">{{lang 'products.pre_order'}}</a>
                    {{/if}}
                    {{#if add_to_cart_url }}
                        <a href="{{add_to_cart_url}}" data-event-type="product-click" class="button card-figcaption-button" data-product-id="{{id}}">{{lang 'products.add_to_cart'}}</a>
                    {{/if}}
                    {{#if out_of_stock_message }}
                        <a href="{{url}}" data-event-type="product-click" class="button card-figcaption-button card_out_of_stock" data-product-id="{{id}}">{{out_of_stock_message}}</a>
                    {{/if}}
                {{/if}}
            {{/or}}
        </div>
    </div>
</article>
